[2013-10-31 13:04] Timbo925 opened #1 "Bugtracking inside github"
Bugtracking mogelijk in github. Heeft albels en je kan bugs assignen an bepaalde personen.

[2013-11-02 21:09] MPieter opened #2 "Time Tracking"
Bij het toevoegen van een item komt er een lege rij bij in de tabel. Terwijl het formulier wel degelijk volledig is ingevuld.

Bij een andere poging kwamen er automatisch 2 rijen bij en gaf de browser een standaard foutmelding.

![image](https://f.cloud.github.com/assets/5703745/1459941/19196da2-4403-11e3-8c36-ef1425a170ed.png)

[2013-11-02 21:27] gaethofs commented on #2
Is blijkbaar een fout opgetreden bij het invullen of oppikken van de gegevens uit het formulier bij het AJAX-request. Ik zal de JavaScipt en PHP-code voor het indienen een beetje robuuster maken, zodat de gegevens harder worden gecontroleerd en er duidelijkere foutmeldingen worden gegeven. Bijv. "datum werd fout verwerkt" i.p.v. "er is iets fout gelopen".

Kan je nog even meegeven welke browser je

[2013-11-02 21:42] MPieter commented on #2
Ik gebruik Chrome.Ondertussen heb ik wel al gemerkt dat er 2 van de 3 requests nu wel juist in terecht zijn gekomen.

Screenshot van het log-scherm:
![image](https://f.cloud.github.com/assets/5703745/1459999/8f8b8886-4407-11e3-8176-e6fa9410d3dc.png)

[2013-11-02 21:58] gaethofs commented on #2
Ik heb de fout gevonden denk ik. Bij de gebruikersinstellingen stond er standaard een ander datum formaat opgegeven dat hetgeen dat in het profiel wordt gebruikt. De data moet van de vorm 02/11/2013.. zijn, terwijl dit bij de gebruiker werd gelezen als 2 okt. 2013. Bij mij was dit al aangepast, daarmee dat ik er had over gekeken. Het is nu overal aangepast, dus normaal gezien zou het probleem hier

[2013-11-02 22:02] MPieter commented on #2
Ik heb het net nog eens geprobeerd, zelfde fout:

![image](https://f.cloud.github.com/assets/5703745/1460036/62c3830a-440a-11e3-9a99-2bdbb4b4bd01.png)

[2013-11-02 22:32] gaethofs commented on #2
Geeft inderdaad nog altijd een fout. Ik zal eens dieper checken wat het probleem is, maar het ligt in elk geval al zeker bij het AJAX-request. Volgens mij wordt er een 500 error teruggegeven na het indienen van de gegevens. Ik dacht dat dit al was opgelost, want bij mij lukt het toevoegen wel. Kan je even kijken wat er gebeurd bij het request zelf?

In Chrome kan je dit als volgt via het menu:
- W

[2013-11-03 12:08] MPieter commented on #2
Ik heb het nu nog eens geprobeerd, ik krijg nog steeds een error:
![image](https://f.cloud.github.com/assets/5703745/1460927/76e14856-4480-11e3-97e4-0b39615293fc.png)

Volgende melding komt op de console: Failed to load resource: the server responded with a status of 404 (Not Found) http://wilma.vub.ac.be/~se2_1314/website/themes/theme/assets/js/jquery-1.10.2.min.map

Dit is dan het resultaat op d

[2013-11-03 12:59] gaethofs commented on #2
Ik ben er nog altijd niet helemaal uit, maar er is wel al wat verbeterd.
- bij het indienen van het formulier worden de velden geblokkeerd om het maken van meerdere requests te blokkeren,
- specifieke meldingen per fout, voor een duidelijker debuggen of blokkeren,
- PHP-code checkt nu ook alle data, hier moet ik nog een check toevoegen voor strengere controle van de datum string.

De error die je

[2013-11-03 14:03] MPieter commented on #2
Dit is het resultaat geprobeerd met Internet Explorer. Het komt nu ook gewoon terug in de tabel zonder dat er iets ingevuld is.

![image](https://f.cloud.github.com/assets/5703745/1461055/82408190-448e-11e3-84e9-a32575c66d27.png)

[2013-11-03 14:35] gaethofs commented on #2
Gebeurt op het eerste zicht niets fout en de titel en beschrijving zijn altijd wel weggeschreven dus dan is het echt wel het parsen van de datum in JavaScript. Anders moet ik dat pas in PHP laten gebeuren. Ik haal de pagina even offline totdat ik dat heb bijgewerkt.

Alvast bedankt voor de feedback. Werkt productief zo.

[2013-11-03 15:57] gaethofs commented on #2
Kan je via de browser nog eens een nieuw verzoek indien? Normaal zou je nu een melding moeten krijgen met de datavariabelen. Dit zou in de aard moeten zijn van:

From: Sun Nov 03 2013 16:56:00 GMT+0100 (CET)- To: Sun Nov 03 2013 16:56:00 GMT+0100 (CET)

[2013-11-03 16:04] MPieter commented on #2
De functie is nog geblokkeerd voor debugging. Vergeten terug aan te zetten ?

[2013-11-03 16:10] gaethofs commented on #2
Staat terug actief nu. Had er inderdaad over gezien omdat ik als webmaster was ingelogd en ik dat dan wel nog zie.
Bij het toevoegen zal er nu geen record worden aangemaakt. Er verschijnt enkel een melding met de datums.

[2013-11-03 16:12] MPieter commented on #2
Het resultaat (in Chrome):

![image](https://f.cloud.github.com/assets/5703745/1461293/c69aa596-44a2-11e3-945a-7d998aa5169e.png)

[2013-11-03 16:47] gaethofs commented on #2
Dan wordt hij wel juist geparsed maar fout doorgegeven blijkbaar. Ik heb het veranderd zodat er altijd een standaard UTC string wordt doorgegeven en deze dan in PHP wordt omgezet.

Ik heb in de code ook een log toegevoegd waar de rauwe data in terecht komt. Dit zal ik ook allemaal opnemen in het SCMP.

Als het nu niet zou lukken, dan laat ik het parsen weg uit JavaScript en laat ik alles op de ser

[2013-11-03 16:52] MPieter commented on #2
Ja, nu is het inderdaad in orde!

[2013-11-03 16:52] #2 closed, assigned to gaethofs

[2013-11-04 11:30] #1 closed, assigned to Timbo925

[2013-12-09 18:27] MPieter opened #11 "Enhancement Database (1)"
@nicocarraggi

Verbetering van de database-controller door gebruik te maken van geparametrizeerde SQL-strings, dit is veel veiliger (geen SQL-injections mogelijk).

Note: voor latere iteraties

[2013-12-09 18:28] MPieter opened #12 "Enhancement Database (2)"
@nicocarraggi

Verbetering van de database-controller door gebruik te maken van 'BEGIN' en "COMMIT". Hierdoor kunnen we de verschillende SQL-queries groeperen.

Cleaner en performance improvement.

Note: voor latere iteraties

[2013-12-09 18:31] MPieter opened #13 "Enhancement Database (3)"
@nicocarraggi

Verbetering van de database-controller door de configuratie-file anders te implementeren.

Voorstel van @svdvonde was om gebruik te maken van JSON-formaat en dit dan te parsen. Zo krijgen we ook een exceptie indien het parsen niet lukt.

Ander issue is dat gevoelige informatie voor het grijpen ligt.

Note: voor latere iteraties

[2013-12-09 21:23] gaethofs commented on #13
@ Note. Is het niet al vrij belangrijk dat zodra we online gaan, geen configuratie-info publiek beschikbaar is? Daarom hoeft json parsen nog niet meteen, hoewel me wel lijkt dat dit door Java zo wordt ondersteund, maar deze file moet sowieso buiten de directory. Of heb in het fout en is dit al het geval?

[2013-12-09 23:23] MPieter commented on #13
Voor zover ik weet staan nu de configuration files in src/main/resources, namelijk TestdBConfig.txt en wilmadbConfig.txt.

Dus binnen de directory.

[2013-12-10 03:52] MPieter opened #16 "Issue: Java Mail"
Bij het testen van  mijn code voor mails te versturen kwam ik tot volgende vaststellingen:
- mails verstuurd naar domein @wilma.vub.ac.be verzonden vanaf willekeurig domein worden verzonden
- mails verstuurd naar een willekerig domein verzonden vanaf willekeurig domein worden niet verzonden.

Het "doorgeven van berichten" wordt dus geweigerd, en als ge der over nadenkt is dat misschien maar logisc

[2013-12-10 13:48] nicocarraggi opened #17 "Foute Time Tracking"
@gaethofs

Heb vandaag gebruikt, terwijl het gisteren ( 9 dec ) moet zijn.

Nicolas User Management Back End    10/12/2013 17:30    10/12/2013 19:00    1h 30m  Details

[2013-12-11 16:55] MPieter commented on #16
Opgelost door @Timbo925 door gebruik te maken van een Spring API voor mails te verzenden.

http://www.mkyong.com/spring/spring-sending-e-mail-via-gmail-smtp-server-with-mailsender/

[2013-12-11 16:55] #16 closed, assigned to nobody

[2013-12-12 13:32] nicocarraggi commented on #13
Nu dat de website online staat ben ik vrij zeker dat het niet mogelijk is om aan die .txt files te geraken. Het enige wat dan wel echt nodig is, is deze .txt files niet zichtbaar maken op github. Is dat niet genoeg dan?

[2013-12-12 13:46] MPieter commented on #13
Zijt ge zeker dat ge niet rechtstreeks in den browser op die directory op de wilma server kunt, en dan zo die files accessen ?

En idd, files toevoegen aan .gitignore lijkt mij een goede oplossing.

[2013-12-12 13:56] Timbo925 commented on #13
Files staan niet publiek op de Wilma server dus daar kunde normaal ni aan

[2013-12-12 23:04] MPieter opened #20 "Taggen van de eerste iteratie"
@gaethofs @Timbo925

Vermits ik hier geen rechten voor heb, moeten jullie dit doen.

Liefst voor vandaag 9u!

[2013-12-13 11:29] MPieter commented on #17
Issue staat op de verkeerde repository. Moet eigenlijk bij websitetheme-repo staan.

[2013-12-13 13:45] #20 closed, assigned to nobody

[2013-12-13 13:48] Timbo925 commented on #20
Kheb nu ook nogmaals getagged ipv te branchen

[2013-12-13 13:50] MPieter opened #21 "CSS van login pagina en profiel pagina"
@gaethofs @Timbo925

CSS van login pagina en profiel pagina ontbreekt nog.

Zou ge mij ook de reden kunnen zeggen waarom hiervoor geen CSS is opgeleverd? En waarom er hierover niet gecommuniceerd is ? Tim zei namelijk dat gij (christophe) onbereikbaar waart ?

Deadline: dinsdag 17/12/2013 zodanig dat we het op de presentatie nog kunnen tonen.

[2013-12-13 13:51] MPieter commented on #20
Kunt ge dat ook doen voor de documenten ?

[2013-12-13 13:53] Timbo925 commented on #20
Oeps inderdaad vergeten. Is nu in orde

[2013-12-13 13:57] Timbo925 commented on #21
Ik had gewoon een mail verstuurd en was geen reactie op gekomen. @gaethofs laat zeker iets weten of het gaat lukken tegen dinsdag anders moet ik het nog verdelen aan iemand anders toewijzen om deze nog snel te maken.

Niemand heeft denk ik direct ervaring met dit te doen dus zou wel handig zijn als je dit zelf nog rap zou kunnen doen. Merci

[2013-12-13 22:18] gaethofs commented on #13
Pas op met de mappen. Gitignore is mooi om dat buiten te houden op github maar als ge iets wat deftig kunt hacken hebt die toch meteen. Zeker niet in de eerste directory zetten. Ik kom net terug van een drukke week dus zal dit morgen eens testen dan laatk iets weten. Hoe 'onbelangrijk' het ook mag lijken dat deze informatie lijkt, het gaat nog altijd om een software engineering project waarvan men

[2013-12-15 13:31] Timbo925 commented on #21
@gaethofs Gelezen? :)

[2013-12-15 16:43] gaethofs commented on #21
Heb het gelezen. Ik had dit weekend geen computer ter mijne beschikking en ben tot net ook amper ter plaatse gebleven. Ik zal zien dat ik dit morgen snel kan maken.

[2013-12-17 11:03] MPieter opened #22 "FR 1.3: Wachtwoord vergeten"
Als ik op 'click here' klik, gebeurt er niets.

Youri zegt dat deze requirement in progressie is, wat is er dan al van gerealiseerd ?

Belangrijk voor als we dit morgen willen demonstreren.

![image](https://f.cloud.github.com/assets/5703745/1763320/ddda3caa-670a-11e3-9961-a86f67a0c12c.png)

[2013-12-17 11:21] MPieter commented on #21
@Timbo925 Ik kan er op rekenen dat tegen vanavond dit in orde gebracht is ?

[2013-12-17 11:22] Timbo925 commented on #22
Nog niks voor gedaan. Het zelfde systeem zal gebruikt worden als activatiemails dus alle onderdelen werken in princiepe al

[2013-12-17 11:24] Timbo925 commented on #21
Als ik de paginas krijg van @gaethofs kan ik het online zetten. Hoe ver zit je daarmee @gaethofs ?

[2013-12-17 14:50] gaethofs commented on #21
Ben er met bezig ;). Ik veronderstel dat de login/home pagina min of meer hetzelfde is als de huidige login pagina maar zonder formulier dan. Anders is een redirect naar de login nog beter eigenlijk. De profiel pagina is in de stijl van bootstrap maar dan met onze layout. Mag ik die veranderingen allemaal naar het CalZone project pushen of hebt ge liever dat ik u de CSS/HTML files bezorg? Anders s

[2013-12-17 15:08] gaethofs commented on #17
Fixed.

[2013-12-17 15:08] #17 closed, assigned to gaethofs

[2013-12-17 15:15] Timbo925 commented on #21
Rechtstreeks op CalZone liefs. Ik zet het dan wel online

[2013-12-18 00:27] MPieter commented on #22
Oke, genoteerd.

[2013-12-18 00:27] #22 closed, assigned to nobody

[2013-12-18 00:28] MPieter commented on #21
Dit is ondertussen ook in orde. Prima !

[2013-12-18 00:28] #21 closed, assigned to gaethofs

[2013-12-18 00:30] MPieter opened #25 "Bootstrap issue IE 11"
Toevallig was ik aan het testen in IE 11 en de login pagina ziet er als volgt uit:

![image](https://f.cloud.github.com/assets/5703745/1769836/78e037ac-677b-11e3-916d-9f39ec198507.png)

Het is duidelijk dat er een probleem is met de schaling. In Chrome werkt alles goed.

[2013-12-18 01:05] Timbo925 commented on #25
Hopelijk makkelijk op te lossen. Typish IE

[2014-02-23 21:42] Timbo925 opened #28 "Session ID duplicatie"
Momenteel is er nog duplicatie van session ID's. Dit wil zeggen dat users meerderre coocies tegelijk kunnen bezitten. Opzicht goed idee als je gebruik maakt voor verschillende computers gebruikt maar zou hier graag een limiet op zetten. Voorstel is limiet van 5.

Dit moet gebeurden bij insertSession(session). Dus gewoon 1 overschrijven als zelfde user als meer als  5 keer aanwezig is in de databas

[2014-02-23 21:45] gaethofs commented on #28
Vindk goed voorstel. Pro!

[2014-02-24 12:45] MPieter commented on #28
Dit misschien dan ook best opschrijven in SRS:

https://github.com/CalZoneVUB/Documents/issues/52

[2014-02-24 17:20] Timbo925 opened #29 "Activation page"
Resend activation key link on creation page

[2014-02-26 22:06] MPieter opened #38 "Unit Tests voor database"
Ondanks dat Jens zei dat voor operaties naar de database er geen unit tests moeten geschreven worden, zou ik toch willen dat er voor DbTranslate unit tests geschreven worden.

~~Want voor het moment is die klasse volledig broken.~~

@svdvonde Wie is er verantwoordelijk voor testen te schrijven ?

[2014-02-26 22:12] MPieter opened #39 "DbTranslate"
Doordat ik moest zoeken in DbTranslate naar een fout die voorkomt in selectUserByUsername kwam ik ook volgende code tegen:

[code]

Wat doet dat stuk juist ?  Want alle methodes die erin staan zijn toch static. Dus wordt dat dan wel uitgevoerd ?

[2014-02-26 22:15] svdvonde commented on #38
In principe moeten alle tests voor een klasse geschreven worden door de programmeur van die klasse, net na hij die klasse heeft afgewerkt (om de werking te bevestigen) De moeilijkheid aan die specifieke klasse testen is dat je (zoals ik aanhaalde) moet testen of bepaalde data wel degelijk correct in de database is opgenomen. Die queries sturen gaat via een DBLink object (als ik me niet vergis), en

[2014-02-26 22:31] Timbo925 commented on #39
Dit opent de connectie met de database. Ik heb dit in mijn fork al beetje aangepast dat dit anders gaat gebeuren en ook moet werken op windowns enz... Dit gebeurd met spring-beans. Welke fout kom je tegen bij selectUserByUsername?

Ik zal mijn verbeteringen al pushen. Mijn password deel werkt nog niet volledig maar db connecties moeten wel al goed zijn.

[2014-02-26 23:01] MPieter commented on #38
@svdvonde Das wel niet het antwoord op mijn vraag :(

Dus @nicocarraggi schrijft gij die testen ?

[2014-02-26 23:06] MPieter commented on #39
De volgende fout verschijnt:

java.lang.NullPointerException
    com.vub.db.DbLink.executeSqlQuery(DbLink.java:28)
    com.vub.db.DbTranslate.selectUserByUsername(DbTranslate.java:289)
    com.vub.controller.ProfilePageControler.viewProfil(ProfilePageControler.java:22)

met volgende controller:

@Controller
public class ProfilePageControler {

[code]

}

Dus dat doet mij dan toch vermoeden dat er

[2014-02-26 23:19] nicocarraggi commented on #39
Wat meteen opvalt is dat hier geen gebruik is gemaakt UserDao ? Normaal gezien mag DbTranslate niet worden gebruikt in de code !

Eerst een "userDao" aanmaken en dan "findByUserName(String username)" gebruiken.

String username = "test";
UserDao userDao = new UserDao();
userDao.findByUserName(username);

Volgens mij is er niets fout aan selectUserByUsername.

[2014-02-26 23:19] Timbo925 commented on #39
Ge moet gebruik maken van een UserDao (User Database Object) om een User op te vragen. Dus iets van deze form. Dit is expres so gedaan zodat elke object zijn eigen laag van abstractie heeft voor opgeslagen te worden in de db. Hieronder een voorbeeld hoe het zou moeten.

   User user = new User();
   UserDao userDao = new UserDao();
   user = userDao.findByUserName(userName);

[2014-02-26 23:20] Timbo925 commented on #39
Wayoo Dubble teamed :P

[2014-02-26 23:21] nicocarraggi commented on #39
Haha zalig !

En weet ook dat, indien de username niet bestaat in de database er "return null;" gebeurt. Dus misschien test je met een foute username?

Je moet altijd checken of het null is.

Vb. ( uit ActivateAccountController.java )

[code]

[2014-02-27 09:00] MPieter commented on #39
Thanks guys !

Het was inderdaad mijn fout, ik was even vergeten dat we een extra abstractielaag toegevoegd hadden met die extre Database objects.

& Is die check voor null ook nodig wanneer het inloggen al succesvol gebeurd is ?

[2014-02-28 02:45] #39 closed, assigned to nicocarraggi

[2014-02-28 02:48] MPieter opened #41 "Database: UpdateUser"
Momenteel wordt er in de methode "updateUser" enkel passwoord en taal ge-update.

Zou je dit kunnen aanpassen dat dit alle velden update? Vermits ik veronderstel dat ik deze methode moet gebruiken wanneer de user zijn profielgegevens heeft aangepast, dit betekent dus ook voornaam, achternaam, etc...

Stuk code in kwestie: (DbTranslate.java , lijn 136 - 145)

[code]

Akkoord ?

[2014-02-28 18:46] gaethofs commented on #28
Overgestapt naar Spring Security.

[2014-02-28 18:46] #28 closed, assigned to nicocarraggi

[2014-02-28 22:07] svdvonde opened #42 "Activatie e-mail: fix de zinstructuur"
http://i.imgur.com/He7XBjt.png

[2014-02-28 22:09] Timbo925 commented on #42
Goed opgemerkt. Nooit echt gelezen die mail. Assigned to me.

[2014-02-28 23:14] MPieter opened #43 "Database: UserTypes"
Zoals besproken op 28/02, hebben we volgende users in ons systeem:
1. student
2. assistant
3. professor
4. admin

Gelieve dit aan te passen in tabel UserTypes.

[2014-02-28 23:36] Timbo925 commented on #43
Vergeet dan ook niet het de functie aan te passen die een user van niet-actief naar actief promoveert. Momenteel zet deze ook user naar type 2 en da moet dus type 1 blijven (de defaut)

[2014-02-28 23:45] nicocarraggi commented on #43
Moet usertype met ID 0 dan nog altijd IS_AUTHENTICATED_ANONYMOUSLY zijn? Of moet dat nu vervangen worden door ROLE_STUDENT ?

[2014-02-28 23:52] MPieter commented on #43
Role_User is best denk ik !

[2014-03-01 22:04] svdvonde opened #45 "Database: Maak RoomDao"
Er is een object nodig om rooms op te slaan in de database, om ze weer te geven op een webpagina (en toe te voegen, enz)

[2014-03-01 22:17] Timbo925 commented on #45
Assigned aan Niko. Niko ge moet dus gewoon een ArrayList<Rooms> terug geven uit de database.

Voor sam ik denk dat via de DB kant het nodig is JSON to ontvangen? (zo doet christophe het toch denk ik) Ik zal dus een ArrayList<Rooms> naar JSON maken.

[2014-03-01 22:42] Timbo925 commented on #45
Zo kunde het verwachten moest het via json verlopen. Het toevoegen van info mag dan ook via json formaat verlopen moest dit zo gaan

[code]

[2014-03-02 13:34] MPieter opened #46 "User Property: Language"
@nicocarraggi @Timbo925

Gaan we het language-veld als user property behouden of verwijderen ? Vermits dit **niet** meer wordt gebruikt om de taal te serveren.

Een misschien interessanter veld is Nationaliteit.

[2014-03-02 14:13] gaethofs commented on #46
Hoezo geen language property meer?

[2014-03-02 14:17] Timbo925 commented on #46
Laat het voorlopig staan omdat we het mss nog nodig gaan hebben. Momenteel staat het standaard toch op NL dus mag zo blijven.

@gaethofs Spring zorgt voor de taalkeuze via de cookies dus in princiepte hebben we dit niet meer nodig is de database entry van de user.

[2014-03-02 14:18] gaethofs commented on #45
Dit kan zowel vanuit Spring zelf worden afgehandeld door de controller als volledig via front-end javascript en dan is er wel JSON nodig.

[2014-03-02 14:25] gaethofs commented on #46
Gewoon cookie via taalselectie (vlaggetje)? Lijkt me nog wel handig om een aparte entry opzij the houden in de user voor later.

(De ideale website zou bijvoorbeeld talen kunnen weergeven op basis van de geolocatie of browservoorkeuren en bij het inloggen direct wisselen naar de taal van de gebruiker. Direct juiste taal op vreemde/anderstalige computer/browser). Puur voor esthetische doeleinden ho

[2014-03-02 14:58] Timbo925 commented on #45
Kstel voor dat degene die het moeten schrijven mogen beslissen hoe ze het willen implementeren. Langs de controller kant is het makkelijk om json te serven van bepaalde objecten moest dit nodig zijn.

[2014-03-02 15:00] Timbo925 commented on #46
Inderdaad voorlopig werkt het al en dus zeker niet nodig om te veranderen.

[2014-03-02 18:55] #42 closed, assigned to Timbo925

[2014-03-02 19:21] MPieter opened #48 "Email-model"
Door die merge van @svdvonde zit ik nu met 2 email modellen in mijn code.
- Email
- EmailMe

Welke gaan we houden ?

[2014-03-02 19:23] gaethofs commented on #48
Wat ik heb verstaan uit alle code die er passeert zit er een verschil tussen de twee klassen. En de klasse EmailEmail is ook ergens ter sprake gekomen dacht ik.

[2014-03-02 19:57] svdvonde commented on #48
Ik heb die Email gemaakt omdat redenen. Vraag ernaar op vergadering :)

[2014-03-04 05:08] nicocarraggi opened #59 "RoomEquipment"
Momenteel geven alle rooms uit de CSV file FALSE op alle Equipments. @Timbo925

[2014-03-04 20:59] MPieter commented on #11
Een mogelijk methode die een alternatief biedt:

http://www.mkyong.com/spring/maven-spring-hibernate-mysql-example/

[2014-03-07 14:08] nicocarraggi opened #62 "Bootstrap Tables"
Misschien is het een goed idee van sortable tables te gebruiken?

Momenteel heb ik voor EnrolledCourses het volgende gebruikt:
    Collections.sort(courseArrayList);

Dus nu worden de courses geprint in alfabetische volgorde. (vroeger op courseID)

@gaethofs @fsuarezg @svdvonde @MPieter

[2014-03-07 14:15] MPieter commented on #62
Dat lijkt mij een goede oplossing.

De bedoeling is dat er nog zoekfilters opkomen zodanig dat ge gemakkelijk bepaalde vakken kunt selecteren.

[2014-03-09 16:14] fsuarezg opened #63 "Confirmatie Mail Account Aanmaken Komt Niet Aan"
ik probeerde om zelf een account aan te maken voor calzone, maar ik krijg maar geen confirmatie mail gestuurd naar mijn mail.

[2014-03-09 16:53] Timbo925 commented on #63
Hier is u confirmatie mail link  http://wilma.vub.ac.be:8181/calzone/activate/dp38vbdp29g6ooebt3ucv6icak

Gmail server heef top een of andere manier niet verzonden. Ik bekijk het probleem eens.

[2014-03-09 18:19] gaethofs commented on #63
Gmail server? Of wilma? :D

[2014-03-09 18:25] Timbo925 commented on #63
Gmail blijkbaar want staat wel in verzonden berichten maar krijg een delivery error... :p

[2014-03-09 20:14] Timbo925 commented on #41
Is dit opgelost?

[2014-03-09 20:14] #45 closed, assigned to nicocarraggi

[2014-03-09 20:15] Timbo925 commented on #59
Is dit al gefixed of niet?

[2014-03-09 20:17] Timbo925 opened #64 "Issue Test"
Zou iedereen hieronder eens willen reageren VIA GITHUB aub. Ik wil graag eens zien wie nu effectief github issues leest of niet? Want facebook is geen goede manier van communicatie voor lange, goede, makkelijk ge lezen conversaties.

Thanks

[2014-03-09 20:19] endymion64 commented on #64
Gelezen :)

[2014-03-09 20:27] MPieter commented on #64
Check !

[2014-03-09 20:28] fsuarezg commented on #64
gelezen :)

[2014-03-09 20:29] MPieter commented on #43
@nicocarraggi Is dit nu al geimplementeerd ?

[2014-03-09 20:38] MPieter commented on #48
Das dus niet aan bod gekomen op de vergadering als ik mij niet vergis...

Dus @svdvonde wat is nu de reden hiervoor ?

[2014-03-09 20:39] svdvonde commented on #64
Met tegenzin gelezen. Spam noem ik het!

[2014-03-09 20:40] MPieter commented on #12
@nicocarraggi Is dit nog nodig ?

[2014-03-09 20:43] Timbo925 commented on #48
Naar mijn weten kwam dit doordat sam zijn eigen validator had geschreven. Dus 1 van de 2 moet nog verwijderd worden. EmailMe word volgens mij wel gebruikt voor mails te verzenden en gerefereerd in xml files. Dit moet dus nog eens goed bekeken worden.

[2014-03-09 20:46] svdvonde commented on #48
EmailMe gebruikt validator in het object, ik vond het mooier en praktischer om validator als aparte klasse te gebruiken. Dus, omdat die emailme misschien al ergens anders gebruikt werd heb ik een nieuwe email klasse gemaakt zonder constraints op de waarden. Ik ben nog steeds van mening dat het mooier, praktischer en uitbreidbaarder is om constraints op waarden in een externe klasse te bepalen ipv

[2014-03-09 20:52] MPieter commented on #48
Ik stel dus volgende fix voor:

We gebruiken vanaf validators als aparte klassen, zodanig dat we met annotaties kunnen werken voor validatie in het model kunnen werken.

Anders moet ge in u controller nog extra java code toevoegen voor validatie, en dat vind ik ook minder mooi.

De klasse Email moet dus verwijderd worden.

[2014-03-09 20:59] Timbo925 commented on #48
Ik zal het ook nog eens bekijken wat de voor/nadelen zijn voor ik een beslissing maak. We houden deze aanpassing tot na de presentatie.

[2014-03-09 21:01] gaethofs commented on #64
Check!

[2014-03-09 23:02] nicocarraggi commented on #64
Final Check !!

[2014-03-09 23:05] nicocarraggi commented on #43
Ja hoor :)

[2014-03-09 23:05] nicocarraggi commented on #12
Neen ...

[2014-03-09 23:05] #43 closed, assigned to nicocarraggi

[2014-03-09 23:05] #64 closed, assigned to nobody

[2014-03-09 23:06] #12 closed, assigned to nicocarraggi

[2014-03-10 15:55] Timbo925 commented on #63
Momenteel opgelost en zou moeten werken.

[2014-03-10 15:55] #63 closed, assigned to Timbo925

[2014-03-10 16:27] Timbo925 opened #67 "RemoveCourse"
Soort van api nodig voor bepaalde acties te ondernemen in de front end. Dit moet alles vergemakkelijken scheiding ten boven gaan.

Voorbeeld hiervan voor EnrolledCourses

Url:   /calzone/EnrolledCourses/remove/{classId}
Return: {"Status": "Fail" of "Sucess"}

[2014-03-10 16:48] fsuarezg opened #68 "Login Create Password Check"
register pagina als wachtwoord niet hetzelfde bij re-enteren, geeft geen error @Timbo925

[2014-03-10 16:49] Timbo925 commented on #68
On my list

Bij password forgot gebeurt dit wel al, de implementatie hiervoor is dan niet veel extra werk.

[2014-03-11 11:22] MPieter commented on #62
Volgende moet nog geïmplementeerd worden:
- Aan de client-side moet er sortering ingebouwd worden via JavaScript. Door op de kolomnamen te klikken moet de sortering aangepast kunnen worden.
- Zoekfilters implementeren.

[2014-03-11 13:02] MPieter opened #70 "CSS Class: error"
In de JSP files vind ik telkens volgende code terug:

[code]

Is het niet de bedoeling dat deze styling in de css klasse terechtkomt ? En waar kan ik deze "error" klasse juist terugvinden ?

[2014-03-11 13:39] svdvonde opened #72 "EnrolledCourses werkt niet in laatste commit"
Dus, EnrolledCourses pagina gooit een error als je er naartoe surft

[2014-03-11 13:40] MPieter commented on #72
Ik en @nicocarraggi zijn hier momenteel aan het werken. Oplossing komt snel !

[2014-03-11 13:44] svdvonde commented on #72
Sowieso liever geen niet-werkende code naar de master branch pushen. Men verwacht dat de master branch op de hoofdrepo altijd werkende spullen bevat :)

[2014-03-11 13:47] Timbo925 commented on #72
Akkoord met @svdvonde bug word zo snel mogelijk opgelost blijkbaar.

[2014-03-11 15:23] MPieter commented on #72
De pagina kan nu terug bezocht worden. Het verwijderen en toevoegen van vakken zijn we wel nog mee bezig.

[2014-03-11 15:23] #72 closed, assigned to nobody

[2014-03-11 15:52] Timbo925 opened #76 "Login Fail"
Login failure gaat nog steeds naar een oude pagina. Dit moet gefixed worden en verwijzen naar /calzone

[2014-03-11 15:54] Timbo925 opened #78 "Time Tracking"
@gaethofs Time tracking vanavond doorsturen rond 22u dat ik deze kan gebruiken op de slides voor de presentatie.

Iedereen zet dan voor 22u zijn timetracking erop zodat deze erbij geteld worden.

[2014-03-11 15:56] #29 closed, assigned to Timbo925

[2014-03-11 16:00] MPieter opened #79 "Internationalization in successfulCreationAccount.jsp"
De string in successfulCreationAccount.jsp moeten geplaatst worden in resources.

[2014-03-11 16:05] MPieter opened #80 "Requirements Dasboard updaten"
@gaethofs @fsuarezg

Kan Fernando doorgeven aan Christophe welke requirements erbij gekomen zijn / veranderd zijn ?

Zodanig dat Christophe dit kan aanpassen op de teamwebsite.

[2014-03-11 16:27] svdvonde opened #82 "Nullpointerexception in /EnrolledCourses"
SEVERE: Servlet.service() for servlet [calzoneServlet] in context with path [/calzone] threw exception [Request processing failed; nested exception is java.lang.NullPointerException] with root cause
java.lang.NullPointerException

[2014-03-11 16:29] nicocarraggi commented on #82
meer uitleg aub?

[2014-03-11 16:34] svdvonde commented on #82
Ahja gewoon, ik run het project, ik ga naar "/calzone/EnrolledCourses" en krijg daarna een nullpointerexception

Wat ik er nog wel bij had moeten kopiëren is dit:
<heel dien bazaar>
at com.vub.controller.EnrolledCoursesController.enrolledCoursesPage(EnrolledCoursesController.java:29)

[2014-03-11 16:39] nicocarraggi commented on #41
Nu worden volgende attributen geupdate:
- Password
- Language
- UserTypeID
- LastName
- FirstName
- Email
- BirthDate

Dus enkel Enabled wordt niet aangepast, wat logisch is want dat mag alleen via upgradeNotEnabledUser(User).

[2014-03-11 16:42] #41 closed, assigned to nicocarraggi

[2014-03-11 16:46] nicocarraggi commented on #62
http://stackoverflow.com/questions/14713622/twitter-bootstrap-row-filter-search-box

[2014-03-11 16:55] nicocarraggi commented on #82
Om naar /EnrolledCourses te gaan moet je nu ingelogd zijn!

[2014-03-11 16:58] nicocarraggi commented on #82
/EnrolledCourses is momenteel effectief de lijst van courses die een user volgt.
Je kan wel nog altijd naar /EnrollCourses ( zonder ingelogd te zijn, wat natuurlijk nog moet veranderd worden... zie andere issue), hier krijg je dan de lijst van alle beschikbare vakken.

Maar wacht aub nog even met dat te testen. We zijn momenteel bezig met het toevoegen en verwijderen van vakken voor een user.

[2014-03-11 17:05] MPieter commented on #82
Fout zal nu niet meer verschijnen. Indien je de pagina /EnrolledCourses probeert te accessen zonder ingelogd te zijn, wordt je terug geleidt naar de inlogpagina (dus de homepagina).

[2014-03-11 17:05] #82 closed, assigned to nobody

[2014-03-11 17:23] MPieter commented on #76
Fixed.

[2014-03-11 17:23] #76 closed, assigned to nobody

[2014-03-11 19:28] MPieter commented on #25
Vermits we deze layout niet meer gebruiken, is dit issue niet meet van toepassing.

[2014-03-11 19:28] #25 closed, assigned to nobody

[2014-03-11 20:39] gaethofs commented on #78
Wat het je juist nodig van de timetracking?

[2014-03-11 20:45] MPieter commented on #78
Ik denk dat ze voor hetzelfde willen gaan als dat er gezegd is geweest tijdens de presentatie op vorige iteratie:
- Totaal aantal uren gewerkt tijdens 2e iteratie.
- Hoeveelheid uren per activiteit tijdens de 2e iteratie. -> Hier kunnen ze dan een pie chart van maken.

[2014-03-11 20:46] gaethofs commented on #78
Gaat momenteel niet. Er is geen onderscheid tussen de 1ste en 2de iteratie. Wel kan er op datum gefilterd worden. Dus dat ik enkel de gegevens gebruik na de deadline van de 1ste iteratie, wat denk ik eigenlijk op hetzelfde uitkomt dan.

Ik zet het op mail.

[2014-03-11 21:08] MPieter commented on #68
Om dit efficient te implementeren wordt in er best in het "User" object gebruikt gemaakt van het "Password" object. Dit "Password" object wordt ook gebruikt bij de "PasswordForgetController".

@nicocarraggi Ik zal deze aanpassingen in een aparte branch maken, zodanig dat gij dan u dao ook in deze branch kunt aanpassen. Ik hou u op de hoogte.

[2014-03-11 21:38] Timbo925 opened #84 "RoomDao"
In het room dao moet nog een update komen van een bestaande room (dit is nodig als we een room info willen edditen). Je kan dit doen door een update te schrijven of gewoon  iets van volgende form te gebruiken: http://stackoverflow.com/questions/548541/insert-ignore-vs-insert-on-duplicate-key-update

INSERT...ON DUPLICATE KEY UPDATE zou mss wel moeten lukken denk ik dan.

[2014-03-11 22:21] MPieter opened #85 "DbTranslate: DeleteEnrollment"
![issue](https://f.cloud.github.com/assets/5703745/2391589/6bf5ff18-a96b-11e3-9ba8-c39676d90ce2.png)

[2014-03-11 22:30] MPieter commented on #85
Danku @Timbo925

Fouten in de query:
- WHERE plakt aan het begin van de query
- Extra haakje teveel op het einde

@nicocarraggi Ik heb de vrijheid genomen om deze kleine aanpassing te maken en te pushen. Daardoor kan het geheel nu werken.

[2014-03-11 22:30] #85 closed, assigned to nicocarraggi

[2014-03-11 22:47] Timbo925 opened #87 "Classrooms"
Geen optie om classrooms te deleten voor de admin op pagina /classroom.

[2014-03-11 22:48] MPieter commented on #87
Zijn er al admins in ons systeem ?

[2014-03-11 22:49] Timbo925 commented on #87
Momenteel niet echt nee maar deze pagina zal enkel berijkbaar worden door een admin. Maar de pagina zelf moet wel helemaal werken

[2014-03-11 23:46] MPieter commented on #67
Dit is nu geïmplementeerd.

De return is wel anders, voor bijvoorbeeld EnrolledCourses is dit:
    return "redirect:/EnrolledCourses";

Zodanig dat ge terug geleidt wordt naar de overzichtspagina, met een refresh, waardoor de enrollment-list upgedate wordt.

[2014-03-11 23:46] #67 closed, assigned to Timbo925

[2014-03-12 22:17] endymion64 opened #90 "Possibility DAO improvement?"
@Timbo925 @nicocarraggi
Is er eigenlijk ooit naar dit (zie link) gekeken voor DAO's?

http://docs.spring.io/spring/docs/3.2.x/spring-framework-reference/html/dao.html
http://docs.spring.io/spring/docs/3.2.x/spring-framework-reference/html/jdbc.html

Ik kwam het toevallig tegen en vraag me af of dit nuttig/noodzakelijk is.

[2014-03-13 22:01] MPieter opened #91 "Url: Case sensitive"
Momenteel zijn de url's case sensitive, bijv. ../profile werkt terwijl /Profile een 404 pagina geeft.

Hier moet eens naar gekeken worden.

[2014-03-13 22:04] MPieter opened #92 "Url: Backslash"
Url's eindigend met een backslash worden nog niet herkend. Bijv, ../profile werkt, terwijl ../profile/ een 404 pagina geeft.

Dit moet opgelost worden.

[2014-03-13 22:04] MPieter opened #93 "Url: Calzone today"
Bij het gebruiken van de domain naam calzone.today werken sommige redirects niet meer.

[2014-03-14 12:23] endymion64 opened #94 "Logging"
# Hoe zit het logging systeem in elkaar?
## Conclusie uit sectie 1.3.2 van de [Spring documentatie](http://docs.spring.io/spring/docs/3.1.0.M1/spring-framework-reference/html/overview.html#d0e748)

Spring ondersteunt vele frameworks voor logging. Standaard gebruikt Spring JCL (Jakarta Commons Logging API), maar zelf zegt de documentatie van Spring dat dit misschien geen geweldig iets is om zelf te

[2014-03-15 12:59] svdvonde commented on #11
De hele DAO/DB setup zoals die er nu is moet verdwijnen. Dit is onvermijdelijk. Zelfs voor de presentatie maakten we ons al zorgen over het updaten van data "oei, hoe updaten we dat nu in de database?"

De models (com.vub.models) kunnen rechtstreeks op de database gemapt worden, maar dat wil ook zeggen dat onze models uitgebreider moeten zijn en rechtstreeks de structuur van de database moeten vol

[2014-03-15 19:02] MPieter opened #95 "Url: calzone/login"
De Url calzone/login verwijst nog naar de oude-login pagina.

Dit moet verwijderd worden.

[2014-03-16 14:21] MPieter opened #97 "Deployment to Wilma"
Youri, ik heb een vraag voor u. Ik ben bezig aan het script te schrijven voor te deployen naar wilma. Hiervoor moet ik met ssh een verbinding leggen en een paar commandos uitvoeren. Om onmiddellijk de commando's uit te voeren gebruik ik volgende code:

En hier zit juist het probleem. Want dat doet niet wat het moet doen, de commandos worden wel degelijk uitgevoerd, maar blijkbaar in een andere "mo

[2014-03-16 14:54] Timbo925 commented on #97
In command line gebruikte && om dinges na elkaar te doen. En waarschijnlijk ook -p pasword moeten doen voor de ssh verbinding

[2014-03-16 18:06] MPieter commented on #91
Fixed.

[2014-03-16 18:06] #91 closed, assigned to MPieter

[2014-03-16 18:10] MPieter commented on #70
@gaethofs Kunde eens antwoorden ?

[2014-03-16 18:14] MPieter commented on #97
De '&&' heeft het gedaan, bedankt ! Voor het password heb ik wel gebruik gemaakt van 'sshpass' vermits er geen optie is bij ssh om het password mee te geven.

Het script werkt nu volledig !

[2014-03-16 18:14] #97 closed, assigned to endymion64

[2014-03-16 18:34] endymion64 commented on #97
Ik lees het nu maar pas. Ik was de hele dag weg. Gelukkig is het al opgelost

[2014-03-17 21:01] MPieter commented on #59
@nicocarraggi Reactie ?

[2014-03-17 21:58] nicocarraggi commented on #59
Neen nog niet gefixed met dat dat gebeurde bij het inlezen van de csv en we dit hadden "uitgezet" omdat ze al geimporteerd waren! Zal er morgen naar kijken :)

[2014-03-17 23:09] MPieter opened #100 "applicationContext.xml en calzoneServlet-servlet.xml"
Kan @svdvonde eens motiveren waarom er ook nog een aparte applicationContext.xml bestaat onder WEB-INF/classes.

Vermits die allemaal beans bevatten kunnen die toch even goed in dezelfde file of niet ?

Tis maar voor de duidelijkheid :)

[2014-03-18 14:00] MPieter commented on #70
@gaethofs Kunde aub eens antwoorden ?

[2014-03-18 14:02] MPieter commented on #48
Gefixed: we behouden het Email model waarbij we gebruik maken van validators als annotatie.

[2014-03-18 14:02] #48 closed, assigned to Timbo925

[2014-03-18 14:52] fsuarezg commented on #80
done

[2014-03-18 14:53] #78 closed, assigned to gaethofs

[2014-03-18 14:55] fsuarezg opened #103 "Dashboard onderverdeling"
@gaethofs boven aan de dashboard pagina klopt de onderverdeling niet, er mist nog FR7 en de NFR1

[2014-03-18 14:55] #80 closed, assigned to fsuarezg

[2014-03-18 14:56] MPieter commented on #95
Fixed.

[2014-03-18 14:56] #95 closed, assigned to MPieter

[2014-03-18 14:58] MPieter commented on #100
Doordat alles voorlopig werkt laten we alles gewoon zo staan. Kan in de toekomst wel nog verbeterd worden.

[2014-03-18 14:58] #100 closed, assigned to svdvonde

[2014-03-19 01:24] gaethofs commented on #70
cssClass="error" is iets wat reeds was overgenomen van een voorbeeld uit spring en dus niet afkomstig of terug te vinden in de front-end. De style tag was een snelle oplossing om de layout in orde te krijgen voor de presentatie zonder te gaan rommelen in de CSS bestanden.
Dit is geen ramp dat dat hier staat, maar zou proper wel in een CSS file moeten terechtkomen.
Zodra alle pagina's in layout zij

[2014-03-19 01:26] gaethofs commented on #103
Ik zal dit bijwerken, evenals alle requirements eens overlopen om de laatste versie online te hebben staan.

[2014-03-19 10:53] endymion64 opened #105 "HibernateException causes failure"
Telkens ik CalZone wil starten faalt dit door de volgende error:

[code]

[2014-03-19 10:56] MPieter commented on #105
Dat is dus de reden waarom wij gisteren dan ook gestopt zijn.

Er is een tabel verwijderd uit de db, waardoor hibernate niet alle beans kan maken.

@nicocarraggi @svdvonde Fix dit zo snel mogelijk ! Dan kunnen wij calzone terug runnen!

[2014-03-19 10:58] Timbo925 commented on #105
Voor bebaalde dingen kun je wel usit test schrijven om te testen. Moet je de server niet voor kunnen runnen. Weet niet of dit een optie is maar altijd een goede manier om al iets te kunnen doen.

[2014-03-19 11:11] svdvonde commented on #105
Dat is niet de reden waarom je gisteren niet op wilma kon, Pieter. 5 minuten na iedereen weg ging was er niets neer aan de hand. Die tabel heb ik inderdaad in de avond-avond verwijderd voor mijn lokale veranderingen.. Has er niet bij stilgestaan dat jullie die tabel nog wel nodig hadden. Geef het nog 15 min en ik fix het

[2014-03-19 13:36] endymion64 commented on #105
het werkt weer

[2014-03-19 13:36] #105 closed, assigned to svdvonde

[2014-03-19 14:12] Timbo925 commented on #103
@fsuarezg heeft alle requirements zelf geupdate normaal gezien. Maar die lijst vanboven vonden we niet direct waar deze werd uitgehaald.

[2014-03-19 16:53] Timbo925 commented on #94
Ik heb dit document toegevoegd als een readme in het home directory. Zeker goed genoege uitleg om bij te houden. Als je dus een voorbeeldje hebt gemaakt dat werkt in de code voeg het daar dan ook toe. Hebben we een goede guide voor iedereen.

[2014-03-20 19:39] MPieter commented on #70
Oke, dan laat ik dit issue nog open staan , tot dit alle pagina's in layout af zijn.

[2014-03-20 19:40] MPieter commented on #94
Prima! Heeft @yocoppen hier nog iets aan te voegen ? Anders kunnen we dit issue sluiten.

[2014-03-22 10:25] endymion64 commented on #94
neen, als dit in de readme staat, zal ik dit sluiten.

[2014-03-22 12:53] endymion64 opened #108 "Logging folder location"
De logs worden in 2 folders opgeslagen: log en debugLog, maar de locatie van deze folders is nog niet correct. De config 'log4j.xml' maakt namelijk momenteel gebruik van een relatief pad, maar hierdoor komen deze (op mijn OS) op onverklaarbare reden in mijn eclipse folder...
De locatie van de folders zou moeten gewijzigd worden naar een logischere plaats, maar voorlopig weet ik niet hoe ik dit dyn

[2014-03-22 12:55] MPieter commented on #108
Aan welke logischere plaats had ge gedacht ?

[2014-03-22 13:00] endymion64 commented on #108
Ik had gedacht aan de folder 'calzone' (waar het deployscript zich bevindt)

[2014-03-22 13:27] endymion64 commented on #90
Gezien de huidige aanpassingen lijkt me dit onderzocht door @svdvonde en is deze issue dus irrelevant geworden. Bij deze sluit ik ze.

[2014-03-22 13:27] #90 closed, assigned to nicocarraggi

[2014-03-22 13:54] gaethofs commented on #108
Makes sense. Uiteindelijk behoort dat niet echt tot de code.

Op 22-mrt.-2014, om 14:00 heeft yocoppen notifications@github.com het volgende geschreven:

[2014-03-22 14:20] MPieter commented on #11
Dit is dus ondertussen door @svdvonde opgelost!

[2014-03-22 14:20] #11 closed, assigned to nicocarraggi

[2014-03-22 14:21] MPieter commented on #84
Is dit issue nog relevant ?

[2014-03-22 16:06] Timbo925 opened #109 "Tabbelen edditen"
Ik ben bezig met wat na te denken over interface design. Momenteel zitten we met veel verschillende tabellen die we gaan moeten weergeven naar de user toe en tegelijkertijd sommige users laten toestaan deze aan te passen. Ik ben dan ook **X-editable** tegen gekomen om tabellen te edditen. Je kan hier een voorbeeld zien van hoe het werkt.

http://jsfiddle.net/xBB5x/3833/

Het maakt gebruikt van pop

[2014-03-23 10:02] gaethofs commented on #109
Werkt inderdaad heel proper maar zou aparte AJAX queries moeten toestaan per veld dat wordt aangepast en dus een post request per parameter. Vanuit een goed ontwikkeld API-standpunt is dit wel geweldig :p.

Maar is er een meerwaarde om elk element apart te kunnen bewerken ipv een volledige rij in een tabel? Wel leuk voorstel.

[2014-03-24 01:18] MPieter commented on #94
@yocoppen Als ik het dus goed begrijp, gebruiken we log4j als logging framework die gebruik maakt van de SLF4J API.

Mijn vraag: heb je ook overwogen om Logback te gebruiken i.p.v. log4j ? Ik ben dit toevallig tegengekomen toen ik bezig was aan de schedular. Ik lees namelijk dat Logback eigenlijk de opvolger is van log4j, waardoor log4j dus deprecated is.

http://logback.qos.ch/
http://logback.qos

[2014-03-24 21:41] endymion64 commented on #94
Ik had het gelezen in de documentatie van SLF4J dat logback de preferentie is, maar daar had ik geen extra info over qua configuratie dus had ik voor log4j gekozen. Ook omdat dit framework het meest gekend was als ik google'de, maar ik kan er logback insteken als backbone, maar dan ga ik eerst weer moeten onderzoeke hoe je daar de configuratie doet

[2014-03-24 21:48] gaethofs commented on #94
Bijna depricated of niet. Als het goed werkt stem ik voor dat we momenteel dit gebruiken en hier niet te veel tijd met verliezen? Dit is al een mooie en duidelijke doc.

[2014-03-24 22:18] MPieter commented on #94
Oke laat dan maar zo. Het werkt, das al het voornaamste.

[2014-03-24 22:18] #94 closed, assigned to endymion64

[2014-03-28 12:58] #109 closed, assigned to nobody

[2014-03-28 12:59] #108 closed, assigned to endymion64

[2014-03-28 13:00] #84 closed, assigned to nicocarraggi

[2014-03-28 13:00] Timbo925 commented on #84
Nee

[2014-03-28 13:07] Timbo925 commented on #103
Ik veronderstel dat dit gedaan is. Moest het niet zo zijn laat dan iets weten

[2014-03-28 13:07] #103 closed, assigned to gaethofs

[2014-03-31 00:05] gaethofs opened #125 "Internal error"
[code]

Heb reeds geprobeerd de maven dependencies bij te werken, te refreshen, te herstarten, ... en dit een aantal keer, maar het probleem raakt niet volledig opgelost.

Na die stappen: HTTP Status 404 - /calzone

[2014-03-31 00:27] Timbo925 commented on #125
Dit is zoizo een jar file dat gedownload moet worden. Het is de taglib die in de jsp files alles oplost ivm bepaalde dingen te tonen aan het type ingelogde user. Zou moeten lukken door maven update te doen. Als dat niet lukt post ik wel snel even de nodig jar

[2014-03-31 00:48] gaethofs commented on #125
Zou zeer welkom zijn aangezien ik nog geen oplossing heb gevonden en alleen maar tijd kwijt ben. Thanks in advance!

[2014-03-31 00:58] Timbo925 commented on #125
Denk dat het dees is https://www.dropbox.com/s/i8t9gytepwt6nvs/spring-security-taglibs-3.2.2.RELEASE.jar

[2014-03-31 10:30] gaethofs commented on #125
Zit al bij de Maven Dependencies en raar maar waar, na een paar updates en herstarten, is de 404 error verdwenen en zit ik terug met de internal error van ervoor. Jeuj..

[2014-03-31 10:36] Timbo925 commented on #125
pom.xml en web.xml een openen en daar refreshen ?? Kijk er straks wel nog eens naar.

[2014-03-31 17:33] nicocarraggi commented on #59
Werkt nu zoals het moet !

[2014-03-31 17:33] #59 closed, assigned to nobody

[2014-03-31 21:57] #125 closed, assigned to nobody

[2014-03-31 21:59] MPieter opened #133 "Inlezen Datadump"
@nicocarraggi Wanneer denk jij dat de datadump terug kan worden ingelezen in de database ?

Ik en @yocoppen hebben deze namelijk nodig, vermits we onze scheduler op deze data willen laten werken. Telkens dummy data aanmaken duurt te lang.

[2014-03-31 22:16] MPieter opened #135 "CourseComponent: Startdatum als extra veld"
Aan het model 'CourseComponent' moet er een extra veld toegevoegd worden dat de startdatum aangeeft waarop deze coursecomponent kan gegeven worden.

Dit is nodig omdat bijv. labo's of wpo's meestal later beginnen.

Ik en @yocoppen stellen voor dat we hiervoor gewoon een int gebruiken die de weeknummer voorstelt van het academiejaar.

[2014-03-31 22:20] MPieter opened #136 "CourseComponent: Duration als extra veld"
Extra veld toevoegen dat aangeeft hoelang elke les is, meestal is dit 2u. Maar er zijn ook bijvoorbeeld WPO's die 4u lang duren.

Zodanig dat we hier ook rekening mee kunnen houden in onze scheduling.

[2014-03-31 22:26] svdvonde commented on #136
done

[2014-03-31 22:27] svdvonde commented on #135
done

[2014-03-31 22:28] #136 closed, assigned to svdvonde

[2014-03-31 22:28] #135 closed, assigned to svdvonde

[2014-04-01 14:59] gaethofs commented on #125
For future reference bij problemen:
- Clean project
- Update Project Dependencies
- Refresh
- Restart
  en als dat niet werkt:
- Server verwijderen en opnieuw inladen.

[2014-04-02 15:03] nicocarraggi commented on #133
Goed nieuws !! Het inlezen van lokalen is eindelijk gelukt. Ben nu wel niet thuis en heb geen deftige internet verbinding dus zal ik het pas tegen 20u kunnen afwerken en op git zetten.

[2014-04-07 10:36] MPieter opened #146 "CourseComponent: Extra veld"
@nicocarraggi @svdvonde

Wanneer de CourseTerm van een vak over de 2 semesters verspreid is, moet de gebruiker ook kunnen aangeven hoeveel uur van de coursecomponent in het eerste semester moet gegeven worden, en hoeveel uur in het tweede semester.

[2014-04-07 14:50] MPieter opened #148 "CourseComponent: Extra veld"
@nicocarraggi @svdvonde

In CourseComponent extra veld toevoegen dat aangeeft wanneer de CourseComponent ten laatste afgewerkt moet zijn.

[code]

Dit is bijv. omdat vakken eerst volledig gegeven moeten zijn, vooral labo's kunnen aanvangen.

[2014-04-08 16:35] Timbo925 opened #154 "User Roles"
Nico de users die worden ingelezen door u code maken nieuwe user types aan in de database. (ZIE USER_TYPES)

[2014-04-08 16:38] nicocarraggi commented on #154
Ja dat weet ik en dat moet inderdaad aangepast worden! Maar het is belangrijker van die CourseTeacherAssociations in orde te krijgen ...

[2014-04-10 11:06] MPieter commented on #148
Dit is ondertussen gebeurt.

[2014-04-10 11:06] #148 closed, assigned to svdvonde

[2014-04-10 11:06] #133 closed, assigned to nicocarraggi

[2014-04-10 11:08] MPieter opened #164 "CourseComponent: Extra veld"
@nicocarraggi @svdvonde @Timbo925

In CourseComponent moet er een extra veld komen waarin staat welk type classroom nodig is: projector ? recorder ? smartboard ? roomtype ?

Voor @Timbo925 : dit moet dan ook waarschijnlijk kunnen ingegeven worden op de website.

[2014-04-10 11:09] MPieter commented on #38
Niet meer van toepassing vermits we nu Hibernate gebruiken.

[2014-04-10 11:09] #38 closed, assigned to nicocarraggi

[2014-04-10 14:28] MPieter opened #165 "Extra veld voor Assistenten/Professors"
@nicocarraggi @svdvonde

De assistenten/professors krijgen de mogelijkheid om hun beschikbaarheid aan te duiden. Dit moet opgeslagen worden in de database.

[2014-04-10 16:18] MPieter commented on #164
Hier is ook nog een 'roomCapacityRequirement' bijgekomen. Onthou dit voor de weergave op de website.

[2014-04-10 16:18] #164 closed, assigned to nicocarraggi

[2014-04-10 20:36] MPieter opened #171 "Room-model: Getters/Setters"
@nicocarraggi @svdvonde

Enkele van de getters/setters volgen niet de java conventies.

Daardoor krijgen we problemen met onze scheduler.

Maken die namen van die getters/setters uit voor hibernate ?

[2014-04-10 21:44] svdvonde commented on #171
Getters/Setters zijn niet relevant voor hibernate, maar soms vormen de automatisch gegenereerde getters/setters verschrikkelijke namen.. Maar bon, vertel maar welke anders moeten (of pas ze zelf aan met de Refactor > Rename functie van eclipse)

[2014-04-10 21:45] MPieter commented on #171
Oke, prima ! Dan neem ik de getters/setters automatisch gegenereerd door eclipse volgens de java conventies.

[2014-04-10 21:45] #171 closed, assigned to nicocarraggi

[2014-04-11 15:38] fsuarezg opened #177 "Kan niet op 'Courses' in de Admin Dashboard"
pagina blijft maar eindeloos laden zonder dat de vakken uitgelezen worden, heeft dit te maken met database?

[2014-04-11 16:27] Timbo925 commented on #177
Zoizo want deze pagina heeft eerder al gewerkt. Dit zal gefixed worden denk ik door nico of sam

[2014-04-11 19:56] svdvonde commented on #177
Dat is omdat nicolas veel return types veranderd heeft naar een Set ipv een List...

[2014-04-11 20:06] Timbo925 commented on #177
Hij heeft mij da gezegd dat da nodig was. Ik heb juist alle aanpassingen gedaan en de paginas moeten weer laden zoals gewoonlijk. Gewoon pullen

[2014-04-11 23:24] svdvonde opened #181 "Lengte van gegenereerde keys"
De lengte van de gegenereerde keys is veel te groot (151 karakters) voor whatever reden, dus pas dat aan => issue aan mezelf

[2014-04-11 23:26] Timbo925 commented on #181
Maakt dit echt uit om of gewoon omdat het te lang lijkt?

[2014-04-12 01:05] MPieter opened #182 "Trajecten Scrape"
Onder calzone/scraper staat er nu een file resultTrajects.csv.

Standaard csv-file waarin trajecten gekoppeld zijn aan courses:
_Traject,Course
1 B Bio-ingenieurswetenschappen ,Algemene biologie
1 B Bio-ingenieurswetenschappen ,Chemie : bouw van de materie en chemische reacties I
1 B Bio-ingenieurswetenschappen ,EVS Chemie
1 B Bio-ingenieurswetenschappen ,EVS Fysica
1 B Bio-ingenieurswetenschappen

[2014-04-12 02:33] Timbo925 opened #183 "Course Data"
Op dit moment als ik findCourseByIdInitialized() doe is er nog steeds een null pointer naar courseData.

Dit komt waarschijnlijk omdat we bij het inladen van de datadump geen lege course data aanmaken. Dit moet dus wel gebeuren zodat courseData altijd bestaat. Het kan geen kwaad dat er dan geen informatie is ingevuld op deze data

[2014-04-12 06:28] nicocarraggi opened #184 "Master"
Gelieve als je packages aanpast, dat deftig te doen en ervoor te zorgen dat de code blijft runnen als je die op de master zet ... Ik wou nu een uur werken in de auto, zal niet gaan ...

[2014-04-12 08:59] Timbo925 commented on #184
Het werkt bij mij. Dus mss update project , refresh en server eens verwijderen

[2014-04-14 15:04] MPieter commented on #184
'.classpath' was de oorzaak.

[2014-04-14 15:04] #184 closed, assigned to nobody

[2014-04-14 16:15] MPieter commented on #182
Ik heb zonet een nieuwe versie op github gezet die beter bruikbaar moet zijn!

Laat iets weten hoe het er mee staat !

[2014-04-17 23:11] gaethofs opened #191 "Tomcat Status 500 Errors"
Iemand één van deze problemen al tegen gekomen en kunnen verhelpen?

Bij het surfen naar een pagina:
![schermafbeelding 2014-04-18 om 01 06 34](https://cloud.githubusercontent.com/assets/2029424/2738040/c887f81c-c685-11e3-83d7-fecf2981be0c.png)

Bij het registreren:
![schermafbeelding 2014-04-18 om 01 07 26](https://cloud.githubusercontent.com/assets/2029424/2738037/b85e5166-c685-11e3-880b-a3f7227

[2014-04-18 21:27] MPieter commented on #191
Nee, sorry. Bij mij werkt het alleszins, dus het zal aan u installatie liggen.

[2014-04-18 22:43] MPieter opened #193 "ReadCSVController.java"
@nicocarraggi

Heeft de klasse ReadCSVController.java nog zin ? Anders kunnen we deze verwijderen.
Want op 1 of andere manier staan daar geen geldige ASCII characters in, volgens mijn javadoc compiler.

Alles wat in die klasse staat is toch uit gecommentarieerd.

[2014-04-18 23:05] Timbo925 commented on #193
Denk dat deze moet blijven bestaan want deze word gebruikt voor het uitlezen van de csv bestanden. Alles staat uit gecommentarieerd zodat niemand per ongeluk de controller kan aanspreken en zo database begint te reloaden.

[2014-04-18 23:09] nicocarraggi commented on #193
Helemaal juist wat Tim zegt :)

[2014-04-19 13:22] MPieter commented on #193
Oke, fix dan wel eens die rare tekens op lijn 85, 87 en 90.

En z'n dingen moogt ge der wel liefst bijzetten in commentaar he. Een klasse die volledig in commentaar is staat is vrij vreemd en eigenlijk niet echt een manier van werken.

[2014-04-20 20:46] MPieter commented on #93
Ik zie dat ze dat ze deze url calzone/today willen gebruiken in de presentatie.

Dan moet hier toch eens naar gekeken worden: @Timbo925. Meer uitleg van wat jij hier al van gefixt hebt?

[2014-04-20 20:53] Timbo925 commented on #93
Gebruik voorlopig gewoon de wilma link mannen. Die redirect word door nils gedaan van zijn server en deze is momenteel niet online. Ben niet zeker dat dit dus op tijd kan worden opgelost

[2014-04-21 16:42] MPieter opened #194 "Hibernate: Setters voor variable die PK is."
Kan ik voor bijv. de onderstaande variable een setter maken ? Is dit toegestaan door hibernate ?

Dit vergemakkelijkt de testcode aanzienlijk omdat die equals methode wordt gebruikt voor objecten te vergelijken, die jullie overschreven hebben, en die enkel gebruik maakt van de ID-variable in een model.

Vermits ik ook in mijn unit tests niet langs de database passeer, moet ik een manier hebben om

[2014-04-21 17:00] Timbo925 commented on #194
Ik denk wel dat dit mag. Enkel niet opslaan want hibernate gaat er waarschijnlijjk van uit dat je dit zelf niet kunt aanpassen en dan is de data niet perseen opgelagen eenmaal je diti doet.

[2014-04-21 17:08] MPieter commented on #194
Oke, voorlopig heb ik er al setters bijgezet.

[2014-04-21 17:28] svdvonde commented on #194
Setters voor primary keys mogen niet, tenzij je zelf een strategie toepast om primary keys te genereren - wat in ons geval niet zo is, want hibernate genereert die keys. Die equals methoden heb ik erbij gezet omdat ik dat gebruik in CourseServiceTest - om te zien of een object wel juist uit de database wordt gehaald. Wanneer je een andere equals methode nodig hebt moet je die zelf schrijven.

Twee

[2014-04-21 17:37] Timbo925 commented on #194
Maak anders een aparte equalsName() methode ofzo. Ik veronderstel dat het enkel voor een vergelijking te doen is. Dus maakt ni echt uit welk veld je vergelijkt.

[2014-04-21 17:42] MPieter commented on #194
- Ik kan geen aparte equalsName methode gebruiken, vermits drools die methode equals() automatisch aanroept.
- Dus ik mag dan wel alle hashCode + equals() methoden overschrijven ? Dit is wel veel meer werk dan enkel setters generen. Dan gaat jullie implementatie van hashCode + equals wel verloren.

[2014-04-21 17:50] Timbo925 commented on #194
Denk dat de beste optie toch de PK blijft. Zet ze mss deprectated met de informatie erbij dat dit niet mag gebruikt worden.  Enkel voor test data die niet mag worden opgeslagen.

Want als je de gewone hash overschrijft moet het wel een volledig juiste zijn die alles checked en dit is wat te veel werkt.

[2014-04-21 17:58] nicocarraggi commented on #194
Je kan de Equals herschrijven zodat ze niet alleen checken op Id maar op Id EN Name bvb :)

Je kan die heel eenvoudig laten genereren door Eclipse en aanvinken op welke attributen hij gaat vergelijken.

[2014-04-21 19:52] MPieter commented on #194
Ik laat voorlopig de setters staan, dit is nu het gemakkelijkste en de snelste oplossing. Ik zal er in javadoc bijzetten dat dit enkel gebruikt mag worden voor testobjecten aan te maken.

Want @nicocarraggi & @svdvonde : het is idd handig dat eclipse dat automatisch kan genereren, maar dat lost niet op in mijn geval. Want als ik bijv. 4 standaard room-objecten aanmaak, hebben deze allemaal dezelfd

[2014-04-21 19:58] svdvonde commented on #194
Gebruik dan geen lege objecten, waardoor het onderscheid wel te maken is.

[2014-04-21 19:58] MPieter commented on #194
@yocoppen Is dit haalbaar ?

[2014-04-21 20:33] endymion64 commented on #194
De snelste fix is die setters voorzien.

Equals() aanpassen is gevaarlijk aangezien @svdvonde rekent op de semantiek van die functie...
EqualsName() ontwikkelen is theoretisch gezien mogelijk, maar dan moeten we weer al onze constraints herschrijven (en het was al moeilijk genoeg). Bovendien lijkt het mij moeilijker om unieke strings te voorzien dan unieke ints. Tenzij Java een int omzet in string

[2014-04-22 10:12] MPieter commented on #191
@gaethofs Probleem al opgelost ondertussen ?

[2014-04-22 10:13] MPieter commented on #183
Ondertussen heeft @nicocarraggi dit gefixt.

[2014-04-22 10:14] MPieter commented on #183
Toch niet: @nicocarraggi fix dit.

[2014-04-22 10:15] MPieter commented on #146
@nicocarraggi Al gedaan ondertussen ?

[2014-04-22 10:18] #177 closed, assigned to nicocarraggi

[2014-04-22 10:20] nicocarraggi commented on #146
Neen.

[2014-04-22 11:17] gaethofs commented on #191
Jouw kopie van Eclipse heeft het opgelost. Blijft vreemd.

[2014-04-22 11:17] #191 closed, assigned to nobody

[2014-04-22 13:40] fsuarezg opened #199 "probleem bij Timetracking"
ik was per ongeluk als Tim ingelogd, waardoor hij nu 6u34 aan de presentatie heeft gewerkt. (op 22 april) dit zou verwijdert moeten worden
@gaethofs

[2014-04-22 13:46] MPieter opened #200 "Het model 'Entry' moet kunnen worden opgeslagen in de database."
@nicocarraggi : Zoals de titel al zegt, het 'Entry'-model moet worden opgeslagen in de database.

[2014-04-22 14:27] MPieter opened #201 "Extra veld voor Course-model & Traject-model"
@nicocarraggi

In het Course-model en Traject-model moet er een extra boolean 'frozen' bijkomen.

Dit is net zoals bij het 'Entry' model.

De setters van deze boolean vereisen waarschijnlijk extra applicatielogic, maar die zal ik er wel inzitten.

[2014-04-22 14:30] MPieter commented on #200
Nico heeft goed werk geleverd.

[2014-04-22 14:30] #200 closed, assigned to nicocarraggi

[2014-04-23 08:28] gaethofs commented on #199
Is verwijderd ;)

[2014-04-23 08:28] #199 closed, assigned to nobody

[2014-04-25 03:25] MPieter opened #203 "Homepagina: Scrolling"
@gaethofs

Wanneer er nog geen velden zijn geselecteerd (Faculty, Program en Year) op de homepagina , moet het onmogelijk zijn om naar beneden te scrollen.

[2014-04-25 03:27] MPieter opened #204 "Homepagina: Dynamisch waarden ophalen"
@Timbo925 @gaethofs

Op de homepagina moeten de drie dropdown boxen dynamisch geleden worden met de gegevens uit de database mbv calls naar de API.

Alsook moeten de juiste entry's worden opgehaald uit de database voor weergave in de kalender.

[2014-04-25 03:29] MPieter opened #205 "Link naar admindashboard."
@gaethofs @Timbo925

Er moet nog een link op de website komen die verwijst naar het admindashboard. Ik denk dat deze best bovenaan komt in de menubalk.

[2014-04-25 03:33] MPieter opened #206 "Trajecten wijzigen"
@gaethofs @Timbo925

Op het admindashoard in de trajecten-tab moet het mogelijk zijn om nieuwe vakken toe te voegen aan trajecten.

Dat zal handig zijn wanneer we gaan schedulen, waardoor we beter de testdata kunnen beheren.

[2014-04-25 03:39] MPieter opened #207 "Notification opslaan in de database"
@nicocarraggi @Timbo925

Het model com.vub.Notification moet opgestaan worden in de database.

@Timbo925 Kunt gij nog even verifiëren of hier alle benodigde velden aanwezig zijn in dit model ?

[2014-04-25 03:41] MPieter opened #208 "Notifications dynamisch ophalen"
@gaethofs @Timbo925

In ApiNotifications.java moeten de Notifications dynamisch worden opgehaald uit de database.

@nicocarraggi Laat iets weten wanneer dit Notification-object in de database is aangemaakt en de services klaar zijn. Zodanig dat dit geïmplementeerd kan worden.

[2014-04-25 03:42] MPieter commented on #194
We hebben dus ervoor gekozen om de setters voor de ID's in de database objecten te behouden. Het staat er duidelijk in javadoc bij, dat dit enkel maar gebruikt mag worden voor test code.

Later als we een betere maar eenvoudige manier vinden kunnen we dit nog aanpassen.

[2014-04-25 03:42] #194 closed, assigned to nicocarraggi

[2014-04-25 03:52] MPieter opened #209 "EnrolledCourses Controller"
@gaethofs @Timbo925
- De EnrolledCoursesController moet ge-update worden zodanig dat deze nu werkt met al de aanpassingen die gebeurd zijn met de database. Momenteel staat alles in deze klasse uitgecomment.
- Wanneer ge op de knop "Add Courses" klikt, moet er ook een optie komen op de courses van een gans traject toe te voegen (met eventueel een optie om bepaalde vakken toch niet mee toe te voegen

[2014-04-25 03:54] MPieter commented on #207
Het lijkt mij ook handig zijn om het tijdstip waarop de notificatie gegenereerd is op te slaan, zodanig dat we dit ook kunnen tonen. Wat denken jullie hiervan ?

[2014-04-25 06:04] Timbo925 commented on #205
Bestaat al als je als admin bent ingelogged

[2014-04-25 06:04] #205 closed, assigned to Timbo925

[2014-04-25 06:06] MPieter opened #210 "DeploymentScript"
@yocoppen

Wat heb jij nu moeten doen woensdagmorgen om calzone te deployen op de wilma server ? Dan kunnen we misschien eindelijk het deploy script voor goed en voor altijd fixen.

[2014-04-25 06:09] Timbo925 commented on #208
Notificaties moeten gegenereerd worden als er aanpassingen worden gedaan aan entry's. Momenteel gaat dit nog niet direct omdat we deze pagina niet hebben. Als ik kan opslaan en verwijderen uit de database zou dit wel niet moeilijk moeten zijn.

[2014-04-25 06:14] Timbo925 commented on #207
Ik zou er inderdaad wel nog 1 datum veld bijzetten. Noem het gewoon date.
Dit kunnen we dan gebruiken om notificaties te ordenen en zo weten we ook wanneer notificaties plaatsvinden en eventueel automatisch verwijderd mogen worden.

[2014-04-25 06:18] Timbo925 commented on #210
Ik denk da het zo moet gebeuren.
- Hernoem .war naar .uploadwar
- Upload
- Stop server
- Delete oude .war en /calzone
- Hernoem .uplaodwar
- Start server

[2014-04-25 06:19] MPieter commented on #210
Oke, ik zal dit eens implementeren en kijken of het dan werkt.

Kan @yocoppen toch nog eens zeggen welke procedure hij gevolgd heeft woensdagmorgen ?

[2014-04-25 07:41] endymion64 commented on #210
Hoe ik het manueel doe:
- upload .war naar juiste locatie waardoor de oude .war overschreven wordt
- sluit server
- verwijder calzone folder
- start de server (hierdoor wordt nieuwe calzone folder uit de nieuwe .war gegenereerd)
- test connectie door naar de url te surfen

Ergens vermoed ik ook dat het script te snel draait om deze methode vlekkeloos te laten verlopen. Als een script een server sl

[2014-04-25 08:23] MPieter commented on #210
Ik heb u procedure dus gevolgd, en dat werkt niet bij mij. Calzone op de wilma server is dan ook nu down.

Der is dus iets aan mijn installatie dat er voor zorgt dat het niet werkt.

Ik stel voor dat gij bij u dat dan eens van die pauze gebruikt.  Hieronder is al een snippit waar er 5 seconden sleep is toegevoegd.

[code]

[2014-04-25 08:42] endymion64 commented on #210
Ik zal er mij komende coding sessie mee bezighouden dan als da goed is voor u?

[2014-04-25 08:43] MPieter commented on #210
Dees is iets voor tussendoor. Ik heb liever dat ge vanavond werkt aan de performantie van de scheduler, das belangrijker.

EDIT: Dus doe dees dan wanneer ge eens tijd hebt. Is niet dringend. Voorlopig moet gij dan wel telkens manueel deployen via u pc. Vermits gij met uw pc geen problemen hebt.

[2014-04-25 17:33] MPieter opened #211 "EntryService: Toevoegingen"
@nicocarraggi Aan de entryService moeten volgende mogelijkheden worden toegevoegd:
- find entry's by course
- find entry's by traject
- find entry's by user (Let op hier: voor studenten is dit voor de vakken waarop ze zijn ingeschreven, voor assistenten/professoren is dit voor de vakken die ze geven)
- find entry's by room

[2014-04-25 17:54] Timbo925 commented on #206
DONE

[2014-04-25 17:54] #206 closed, assigned to Timbo925

[2014-04-25 18:38] MPieter commented on #165
@nicocarraggi

De klassen TeacherUnavailibity.java en TeacherLecturePreference.java zijn toegevoegd aan de repository.

Kan jij ervoor zorgen dat deze opgeslagen kunnen worden in de database, de nodige services zijn aangemaakt, en ook de bijhorende sets in de User.java, ...

Voor TeacherUnavailibity.java:
- 1 professor kan meerder unavailibity's hebben.
- 1 unavailibility behoort tot 1 teacher.

V

[2014-04-25 20:38] Timbo925 opened #212 "Initialized vakken"
Het moet mogelijk worden om vakken op te halen waarvoor de coursecomponents alsook de lesgevers van deze coursecomponents geinitializeerds zijn. Dit is nodig voor de enrolled courses pagina's.

[2014-04-25 20:39] Timbo925 commented on #212
@nicocarraggi  @svdvonde

[2014-04-25 20:40] svdvonde commented on #212
Is het niet beter om gewoon één procedure te maken die de hele klasse initialiseert, zodat je niet n^2 methoden moet voorzien voor alle combinaties van "dit en dat initialiseren"?

[2014-04-25 20:42] Timbo925 commented on #212
Zou beter zijn. Momenteel is het enkel mogelijk om de classe zelf terug te halen . Probleem is dus dat voor de enrolledcourses pagina we 'dieper' moeten initialiseren. Weet dus niet hoe we dit doen.

[2014-04-25 23:29] nicocarraggi commented on #212
Tim, ik had je dit toch uitgelegd? gewoon size() gebruiken in de service file.

Dus als je teachers moet hebben van elke coursecomponent van een course dan doe je eerst
 course.getCourseComponents().size();
En dan
for(CourseComponent cc : course.getCourseComponents()){
 cc.getTeachers.size();
}

Dus bij findCourseByName(String name) moet je die code van hierboven net de lijn vóór de return zetten.

[2014-04-27 18:29] Timbo925 commented on #212
Ok heb dit geimplementeerd

[2014-04-27 18:56] Timbo925 commented on #212
Toch nog een probleem. Dit is momenteel mijn querry voor gewoon een alle courses op te halen waarvan ik ook de teachers hun naam wil kennen.

[code]

Deze code uitvoeren duurt 1+ minuut wat dus niet accepteerbaar is. Grootste probleem is denk ik dat hij alles lazy gaat ophalen maar dit natuurlijk 100x. Volgens mij is het op te lossen door custom query te schrijven te schrijven maar weet niet hoe d

[2014-04-27 18:57] Timbo925 commented on #212
@nicocarraggi  @svdvonde

[2014-04-27 21:31] nicocarraggi commented on #212
Je kan al die for lus over Teachers wegdoen en vervangen door:

cc.getTeachers.size()

Ik weet niet ivm de duur van het ophalen, maar volgens mij zal het zeker niet sneller gaan als je zelf een query schrijft ... ( dit zou de snelste manier moeten zijn ).

[2014-04-27 21:37] Timbo925 commented on #212
Die loop moet er wel nog bij want moet de naam van teacher hebben en dat zit in User.person

Dit is zoizo niet efficient he. Hij gaat telkens voor het object dat hij nog niet kent een nieuwe querry invoeren naar de database. Dit zou in 1 grote query moeten komen.

[2014-04-27 21:39] nicocarraggi commented on #212
Neen normaal als je de size() van Teachers vraagt worden alle User objecten geladen EN het gelinkte Person object ook. ( want dat is een 1 op 1 relatie dus normaal gezien moet die EAGER zijn, als dat niet zo is moet dat gefixt worden :) )

[2014-04-27 22:09] Timbo925 commented on #212
Ok maar daar zit de vertraging zeker niet. Er zijn maar iets van een 20 teachers effectief in de database dus gelinkt aan vakken momenteel.

Momenteel heb ik eens wat timingen gezet bij de CourseService. Het uitvoeren van getCourses() duurt momenteel 28 seconden voor 580 courses op te halen.  Dit lijkt me toch niet echt performant  :/

[2014-04-27 22:22] nicocarraggi commented on #212
Ik ben daar nu geen pro in maar kan het ook niet trager zijn omdat de database "op een andere locatie" is en niet "lokaal" ?

[2014-04-27 22:26] Timbo925 commented on #212
Mogelijk zou het eens moeten testen

[2014-04-27 22:42] svdvonde commented on #212
Het is ook niet de bedoeling dat je de database draait op een andere server. Wanneer de database lokaal draait zijn die queries bliksemsnel. Ping eens naar wilma, en vermenigvuldig dat met het aantal queries dat hij moet uitvoeren... 580 courses duurt 30 seconden, dat is +- 50ms per course. Dat ligt toevallig in dezelfde orde als pingen naar de vub en een antwoord krijgen.

ik zou me dus niet te v

[2014-04-27 22:48] Timbo925 commented on #212
Inderdaad heb juist een test uitgevoerd en het ophalen duurt lokaal 60 seconden en met op wilma te deployen is dit  1 seconden. Wel een grote verbetering dus :+1:

[2014-04-27 22:50] nicocarraggi commented on #212
Ah nice ik had dus gelijk :p wat gaan we er dan aan doen?

[2014-04-27 22:55] Timbo925 commented on #212
Weinig aan te doen ik schrijf nu gewoon snel een query bij die er maar 20 ophaalt zodat het wat sneller gaat voor mijn testen.

[2014-04-28 01:05] #212 closed, assigned to nicocarraggi

[2014-04-28 01:08] #181 closed, assigned to svdvonde

[2014-04-28 01:09] #93 closed, assigned to Timbo925

[2014-04-28 07:07] svdvonde commented on #212
1 seconde is nog altijd te lang. Wanneer je op wilma deployed moet je de url van de database op localhost zetten ipv de externa url wilma.vub.ac.be

[2014-04-28 08:38] Timbo925 commented on #212
Heb mijn database lokaal gezet om toch sneller te kunnen werken met de volledige data. Ik heb daarom ook percistence.xml moeten aanpassen naar dit.

[code]

Als je dan lokaale db wilt gebruiken moet je gewoon dit veranderen van

[code]

In de folder /Readme MySql/Backup 28/4 staan de 2 databases die je moet inladen in je locale database om overeen te komen met de database op deze datum. Nadien als

[2014-04-28 19:25] MPieter opened #216 "JUnit Testing: Repitition"
@yocoppen @svdvonde

Zoals het nu zit, worden de Unit testen van onze scheduler 10x herhaald om rekening te houden met de random-factor die in de scheduler-configuratie zit.

Ragnhild gaf hier volgende commentaar op:

Random testen gebruiken "echte" random: testen zijn daardoor niet deterministisch. Een pseudo-random generator kan helpen voor de testen.

Wat denken jullie hiervan ? Ik vermoed dat

[2014-04-30 16:44] nicocarraggi commented on #183
Opgelost!

[2014-04-30 16:47] nicocarraggi commented on #182
Done!

[2014-04-30 16:48] nicocarraggi commented on #87
Done ?!

[2014-04-30 16:52] nicocarraggi commented on #211
Entries van een Course: get de entries van elke coursecomponent van de course.
Entries van een Traject: alle entries van elke course. ( vrij zwaar dus ? )
Entries van een User: alle entries van elke course. ( idem )
Entries van een Room: room.getEntries()

Entries is altijd een lazy set maar met Tim zijn oplossing zou je dit altijd kunnen opvragen.

[2014-04-30 18:04] nicocarraggi commented on #211
Fix voor het simpeler te maken voor jullie:
Entries van een Course / Traject / User zal via de Service gaan met getAllEntries(...).
Voor Room is het simpelweg room.getEntries().

[2014-04-30 18:47] gaethofs commented on #203
Aangepast.

[2014-04-30 18:47] #203 closed, assigned to gaethofs

[2014-05-01 11:16] MPieter commented on #87
Nee Sam is daar nog aan bezig denk ik.

[2014-05-01 11:17] MPieter commented on #182
Hebt ge ook op pattern gematched tussen de course namen ? En hoeveel courses van deze scrape kwamen dan overeen met courses in de datadump ?

[2014-05-01 11:34] nicocarraggi opened #218 "Foute time tracking"
Zoals de titel het zegt, heb ik mijn time tracking van gisteren fout ingevuld.
Het moet tot 30/04/2014 22:30 zijn en niet 01/05/2014. @gaethofs

[2014-05-01 11:37] Timbo925 commented on #87
Bestaat nog niet echt denk ik. Sam was ook nog bezig met het toevoegen van courses dus als dit af kan hij het verwijderen ook al doen. Bestaat al voor trajecten enzo dus geen probleem normaal gezien

[2014-05-01 11:42] Timbo925 opened #219 "Json Entry"
@gaethofs

Ik ben en nu nog in geslaagd om de Json die geserveerd word aan te passen zodat er niet zo veel onnodige informatie word verdeeld. Momenteel in een entry in dit formaat.

Vub Notation is gegenereerd adh van de display naam of als deze niet bestaat maakt hij deze door de informatie op te halen van het gebouw/vloer/room.

Als er nog iets is dat ge nodig heb in de kalender als info laat he

[2014-05-01 11:45] Timbo925 commented on #218
Aangepast

[2014-05-01 11:45] #218 closed, assigned to nobody

[2014-05-01 12:18] fsuarezg opened #220 "Program Model setTrajects"
de functie setTrajects neemt een list<Traject> maar dit zou een set<Traject> moeten zijn. (of er moet een extra variant toegevoegd worden die een set neemt) Ik neem aan dat ik dat zelf niet mag aanpassen? @nicocarraggi @svdvonde

[2014-05-01 12:20] Timbo925 commented on #220
Ben niet zeker of het aanpassen iets gaat kapot maken maar je kan gewoonn de funcitie setTraject(Set<Traject?) aanmaken in de service die exact het zelfde doet als deze met de list. Makkelijkste en veiligste optie.

[2014-05-01 12:22] fsuarezg commented on #220
ik zal hem zelf gewoon aanmaken zonder die andere methode te verwijderen :)

[2014-05-01 12:24] Timbo925 commented on #220
:+1:

[2014-05-01 12:30] MPieter commented on #220
Ik denk dat we best dit issue laten openstaan, zodanig dat we weten dat we die dubbele methode nog moeten verwijderen.

Een algemene oplossing zou zijn:

[code]

Vermits set en list allebei overerven van collectie zou dit moeten gaan denk ik.

[2014-05-01 19:17] endymion64 commented on #216
Ik denk dat ze vermoeden dat wij die random factor in OptaPlanner kunnen manipuleren met een seed. Helaas hebben we die controle niet in OptaPlanner aangezien dit gewoon een node van de XML config-file van de Solver is:

[code]

De documentatie spreekt niet over een seed of pseudo-random generator die wij kunnen opstellen/meegeven in deze config. Men kan een andere selectie-orde kiezen, maar dit i

[2014-05-02 14:51] svdvonde commented on #165
Ik ben al een tijdje aan het nadenken over hoe alles moet worden bijgehouden, want een hele tijd geleden hebben we die extra attributen tussen "course" en "user" ergens anders geplaatst, als ik me niet vergis... Dus in die relatie worden geen extra attributen bijgehouden, maar nu moeten er wel attributen voor specifiek "teachers" worden bijgehouden. Het is fout om deze bij "user" te plaatsen, want

[2014-05-02 15:05] Timbo925 commented on #165
Het is inderdaad niet perfect om het bij user te zetten. Maar ik zou dit toch doen omdat het momenteel de makkelijkste en snelste optie is. Op deze manier gaan we er gewoon van uit dat alle users in ons systeem volledig gelijk zijn. Het enige wat hun dan onderscheid is hun 'role' wat dan een invloed heeft op de access die ze krijgen tot verschillende functionaliteit.

Dit maakt het makkelijker. Wa

[2014-05-02 18:59] svdvonde commented on #165
Ik denk dat ik alles correct heb gedaan (maar het is ook al een tijdje geleden...). Test het wanneer je er klaar voor bent, en sluit deze issue wanneer het klaar is (of sluit nu en maak nieuwe issue)

[2014-05-02 19:04] Timbo925 commented on #165
Ok ziet er goed uit op het eerste gezicht. BTW handig dat ge commits maakt speciaal per issue da zouden we meer moeten doen :P

[2014-05-02 19:04] #165 closed, assigned to nicocarraggi

[2014-05-03 14:00] svdvonde commented on #216
Sluit dit issue maar: "working as intended"

[2014-05-03 14:05] svdvonde commented on #62
Issue is opgelost d.m.v. datatables en mag gesloten worden.
https://datatables.net

[2014-05-03 14:06] #183 closed, assigned to nicocarraggi

[2014-05-03 14:11] #62 closed, assigned to nobody

[2014-05-03 14:11] #87 closed, assigned to svdvonde

[2014-05-03 14:12] svdvonde opened #224 "Falende unittests"
Veel unittests falen van de scheduler. Deze moeten uiteraard slagen.. :)

@yocoppen @MPieter

[2014-05-03 15:03] #216 closed, assigned to nobody

[2014-05-05 09:02] gaethofs commented on #219
Check!

[2014-05-06 08:18] nicocarraggi commented on #182
TOTAL SUCCESSFUL IMPORTED COURSES = 350
van de 1489 rows in Trajects.

[2014-05-06 08:20] nicocarraggi commented on #201
Done!

[2014-05-06 08:25] nicocarraggi commented on #207
Done!

[2014-05-06 08:32] nicocarraggi commented on #220
[code]

Dit heb ik er van gemaakt! Elke keer dat een Set wordt ge-set moeten de elementen van newTrajects worden toegevoegd aan de bestaande Set van trajects. De reden hiervan is om het removen ook goed te laten werken.

[2014-05-06 08:43] svdvonde opened #226 "Room verwijderen lukt niet"
In RoomServiceTest::testRoomCreation(), de finally block van de try-catch:

http://hastebin.com/ujawuwakiy.avrasm

Edit: derp

[2014-05-06 09:28] nicocarraggi commented on #208
Done!

[2014-05-06 09:35] MPieter commented on #220
@fsuarezg Let hierbij als je merged, je neemt nu best een pull van calzone.

[2014-05-06 09:36] MPieter commented on #208
@gaethofs @Timbo925

Jullie kunnen dit nu implementeren.

[2014-05-06 09:37] #207 closed, assigned to nicocarraggi

[2014-05-06 10:17] #211 closed, assigned to nicocarraggi

[2014-05-06 12:34] Timbo925 commented on #208
Worden opgehaald uit de database en elke pagina houd het aantal notificaties in het oog

[2014-05-06 12:35] #208 closed, assigned to nicocarraggi

[2014-05-06 17:11] MPieter opened #234 "Scheduler: Drools rules fired multiple Times"
@yocoppen

Ter herinnering van ons gesprek daarjuist:

De drool rule "spareHoursViolated" gaat meerdere keren af.

Voorlopig doe ik het zonder assertions op de score, zodanig dat we toch al verder kunnen. Maar het is toch nog de moeite waard om hier wat meer naar te kijken.

[2014-05-06 21:11] MPieter opened #236 "Scheduler: AdvancedScheduling"
@yocoppen  @MPieter

De score in de test "advancedScheduling" zou eigenlijk 0/0 moeten bereiken. Momenteel lukt dit niet.

Ik zie 2 opties:
- de configuratie van de scheduler nog verder aanpassen zodanig dat andere meer radicale oplossingen sneller gevonden worden
- de uren slots verminderen: we kiezen ervoor om bijvoorbeeld enkel lessen te plannen om 9u, 11u, 13u en 15u. En dus niet de mogelijkhe

[2014-05-06 21:39] endymion64 commented on #234
posted on stack overflow: https://stackoverflow.com/questions/23504981/drools-rule-ce-collect-fired-to-many-times

[2014-05-06 21:53] MPieter commented on #224
Nu werken bijna alle unit tests.

Er zijn specifieke issues voor degene die niet werken.

Zie o.a. https://github.com/CalZoneVUB/CalZone/issues/236

[2014-05-06 21:53] #224 closed, assigned to nicocarraggi

[2014-05-07 09:17] endymion64 commented on #236
Laten we vertrekken van optie 2.
Zodra dat werkt, kunnen we misschien terug overwegen om meer flexibilitiet in de slots te voorzien

[2014-05-12 08:52] MPieter commented on #236
Optie 2 werkt redelijk goed nu.

Laten we het bij de eenvoudigste oplossing houden.

[2014-05-12 08:52] #236 closed, assigned to MPieter

[2014-05-12 13:14] #219 closed, assigned to nicocarraggi

[2014-05-13 07:22] MPieter commented on #234
Oorzaak van het probleem is nu bekend.

Vanwege tijdsgebrek gaan we dit niet correct implementeren. Het werkt nu al.

[2014-05-13 07:22] #234 closed, assigned to endymion64

[2014-05-13 07:22] #210 closed, assigned to endymion64

[2014-05-13 07:23] #193 closed, assigned to nicocarraggi

[2014-05-13 08:46] MPieter commented on #204
@svdvonde  @Timbo925 Gebeurd ?

[2014-05-13 08:46] endymion64 commented on #201
@nicocarraggi
Er moeten meer databasemethoden komen voor Entry's  om het bevriezen werkbaar te maken:
- getAllEntriesFromCourseComponent(CourseComponent cc)
- geAlltEntriesFromCourse(Course c)
- getAllEntriesFromTraject(Traject t)
  Aangezien we op die niveaus entries willen kunnen bevriezen, willen we dus heel simpel aan de juiste sets geraken.
- updateEntries(Set<Entry> entrySet) (om een gehele

[2014-05-13 08:48] MPieter opened #240 "CourseComponent: Extra velden"
@nicocarraggi

In CourseComponent staan nu 2 extra velden:

[code]

Deze moeten opgeslaan worden in de database.

@Timbo925 Misschien is dit ook belangrijk voor u, vermits dit ook samenhangt met u kalender API.

[2014-05-13 08:56] MPieter commented on #240
Vergeet dit.

Blijkbaar was die code er al in TeacherLecturePreference.java

[2014-05-13 08:56] #240 closed, assigned to nicocarraggi

[2014-05-13 09:13] #204 closed, assigned to nicocarraggi

[2014-05-13 09:25] MPieter opened #241 "CourseComponent: TeacherLecturePreference"
In Coursecomponent is dit momenteel een OneToMany relatie.

Dit moet veranderd worden naar een OneToOne relatie.

We gaan het zo implementeren dat 1 coursecomponent maar 1 voorkeur kan hebben.

[2014-05-13 09:25] MPieter commented on #241
@nicocarraggi

[2014-05-13 09:40] MPieter commented on #241
@nicocarraggi

Dus momenteel ziet het er zo uit:

[code]

Dus verwijder het ene , en voeg het andere toe.

[2014-05-13 11:06] gaethofs commented on #204
Dit zou allemaal moeten werken.
De homepage is ook aangepast voor het bookmarken. Bij de keuze van een lessenrooster wordt er automatisch een hash aan de url toegevoegd. Refreshen of bookmarken zal dan de pagina met de juiste lessenrooster herladen/opslaan.

[2014-05-13 11:34] svdvonde commented on #204
Dit is inderdaad gebeurt. De keuzes komen uit de database, en de selectie van de tweede waarde bepaald de keuzes van de tweede dropdown. Met deze waarden wordt nog niets gedaan (omdat je toen nog geen lessenrooster op een kalender kon plaatsen - geen idee hoe dat nu is)

[2014-05-13 13:13] gaethofs commented on #204
Das is allemaal volledig afgewerkt en laad nu dus lessenroosters.

[2014-05-14 08:05] endymion64 commented on #201
Wegens gebrek aan respons heb ik mijzelf beholpen zonder database transacties te maken...

[2014-05-14 08:06] #201 closed, assigned to MPieter

[2014-05-14 08:39] MPieter commented on #146
Vermits hier geen respons opkomt verdeel ik gewoon het vak gelijk in 2 delen over de 2 semesters.

[2014-05-14 08:39] #146 closed, assigned to nicocarraggi

[2014-05-14 21:21] #241 closed, assigned to nicocarraggi

[2014-05-14 23:16] nicocarraggi opened #244 "Admin dashboard feedback"
Bij het aanmaken van een nieuwe course zou het ideaal zijn moest er, bij het submitten van de nieuwe course, IETS gebeuren? een soort feedback want nu gebeurt er niets en lijkt het alsof submit niets doet... terwijl die wel degelijk opslaat.

[2014-05-14 23:28] nicocarraggi commented on #244
Hetzelfde geldt bij het deleten van een Course.

[2014-05-14 23:29] MPieter commented on #244
Bij het deleten van een course moeten we de feedback implementeren door die table row in kwestie te hidden en dan is een page refresh niet nodig.

@svdvonde Fix gij dit ? OF @fsuarezg

[2014-05-14 23:33] nicocarraggi commented on #244
En ook eventueel een kleine popup die zegt dat het effectief verwijderd is.

Nog een vraag/opmerking over het dashboard:
Bij het aanpassen van een (bestaande) Course, is het niet mogelijk van course components toe te voegen / verwijderen?

[2014-05-14 23:39] MPieter commented on #244
Ik betwijfel ofdat er eigenlijk functionaliteit voorzien is om course components toe te voegen / verwijderen. Ik dacht dat hier te weinig tijd voor was.

[2014-05-14 23:47] MPieter commented on #244
@Timbo925 Ben ik juist ?

[2014-05-15 00:38] Timbo925 commented on #244
Dat is er inderdaad niet bij een course. Bij traject is het wel dus mss lukt het wel om dit nog te doen. Mss nog iets dat @svdvonde of @fsuarezg kan doen want ik ga nog werk genoeg hebben met de rest van de front-end

[2014-05-15 08:08] svdvonde commented on #244
Geen idee hoe je dat met het toevoegen doet, maar dat deleten zal ik proberen te doen.

[2014-05-15 08:53] gaethofs opened #247 "Kalender modal problemen"
Twee problemen met de modals moeten nog worden opgelost.
- Overschrijven van alle entries met hetzelfde lokaal
- Geblokkeerde "opslaan" knop na meerdere wijzigingen.

Ik ben hier momenteel aan bezig

[2014-05-15 09:11] Timbo925 commented on #247
Note voor @gaethofs

api/traject/constraints/:trajectId werkt voor all contraints op te halen van een traject
bij het moven van een vak krijgde ook de constraints terug.

api/traject/freeze/:trajectId werkt ook voor het bevriezen van een traject op de kalender van admin

[2014-05-15 09:31] MPieter commented on #247
Note over freezen: de code van @yocoppen staat nu ook op master. Dus dit zou nu ook volledig moeten werken.

[2014-05-15 09:37] MPieter commented on #244
@svdvonde Dit is toch niet opgelost ?

Als ik een course probeer te deleten, gebeurt er nog steeds niet. Pas bij een page refresh is er een verandering te zien.

(En ik zit wel degelijk op de laatste master)

[2014-05-15 10:46] svdvonde commented on #244
Werkt wel bij mij (Opera browser). Wat staat er in je javascript console?

[2014-05-15 10:49] MPieter commented on #244
Dit is het enige dat ik kan vinden:

![screen shot 2014-05-15 at 12 49 12](https://cloud.githubusercontent.com/assets/5703745/2983135/a2637a9a-dc1e-11e3-98cb-bf2af17907fe.png)

[2014-05-15 10:52] svdvonde commented on #244
Die error heeft niets te maken met de pagina van de courses (overigens heb ik die ook). Dus het zou gewoon moeten werken... Opera gebruikt de Blink engine, dus in Chrome zal het ook werken. Mischien moet iemand anders het eens in firefox/safari testen?

[2014-05-15 10:55] MPieter commented on #244
Mijn browser is Safari. En dat is de JavaScript console.

[2014-05-15 11:05] nicocarraggi opened #248 "Admin dashboard add course"
Wanneer een nieuwe course component wordt toegevoegd krijg je bij "start date" als text : Week of academic year, terwijl bij "end date" er als text gewoon : course component staat. Kan iemand dat veranderen zodat er bij "end date" ook : Week of academic year staat?

[2014-05-15 11:09] nicocarraggi commented on #248
Bij "contact hours", "class duration", "capacity", "room requirement" en "semester" staat er ook gewoon : course component.

[2014-05-15 11:13] nicocarraggi commented on #248
[CourseComponent [id=0, type=HOC, term=S2, contactHours=26, startingDate=2, roomCapacityRequirement=30, roomTypeRequirement=null, roomProjectorRequirement=false, roomRecorderRequirement=false, roomSMARTBoardRequirement=false], CourseComponent [id=0, type=WPO, term=S2, contactHours=26, startingDate=2, roomCapacityRequirement=30, roomTypeRequirement=null, roomProjectorRequirement=false, roomRecorder

[2014-05-15 11:21] nicocarraggi commented on #248
De course wordt wel correct toegevoegd in de database ( op die projector na ). Is het eventueel mogelijk om bij het succesvol toevoegen van een course, automatisch terug te gaan naar de lijst van courses? Nu blijf je op de pagina met de course die je net hebt toegevoegd en dat lijkt dat er niets is gebeurd.

[2014-05-15 11:25] Timbo925 commented on #248
Dus het probleem is als je een nieuw vak aanmaakt en dan  coursecomponents hebt dat de text ernaast niet overeen komt??

Terug gaan naar de vorige pagina is ook mogelijk.

[2014-05-15 11:27] Timbo925 commented on #248
Bij een nieuw course lijkt me toch alles in orde?

[2014-05-15 11:32] nicocarraggi commented on #248
ik bedoel de tekst in de popups.

[2014-05-15 12:20] #248 closed, assigned to nobody

[2014-05-15 12:21] Timbo925 commented on #248
Zou moeten werken nu lokaal bij mij gestest. Als je dus toevoegt komt er loading zodat ge weet dat het met iets bezig is. + Je kan ook zonder coursecomponents toevoegen.

Popup text is ook aangepast

[2014-05-15 14:04] Timbo925 opened #249 "Program Dashbaord"
@fsuarezg

Het laden van programmas werkt enkel als je direct naar die pagina gaat. Maar als je eerst passeert langs een ander tab dan gebeurd dit iet. Ik dek dat dit komt omdat bij het kopiëren van code niet alle javascript id's enzo veranderd zijn. Zou je eens kunnen kijken of je de bug kunt vinden?

[2014-05-15 14:08] #249 closed, assigned to nobody

[2014-05-15 14:09] Timbo925 commented on #249
Nevermind had het gevonden. Inderdaad ergens een variable bij de tab te selecteren die op deze van traject staat.

[2014-05-15 18:35] #244 closed, assigned to nobody

[2014-05-15 21:04] nicocarraggi opened #251 "Admindashboard"
Trajects tab:
Problemen bij het verwijderen van een traject: hij neemt het id van het traject en gaat met dit id een COURSE verwijderen ... ZEER GEVAARLIJK dus !

Programs tab:
Bij het editen van een program, wil je nieuwe trajecten kunnen toevoegen maar dat gaat niet ... wanneer je een nieuw traject selecteert en op het vinkje klikt gebeurt er IETS maar weet niet wat en gaat hij terug naar zijn v

[2014-05-15 21:18] nicocarraggi opened #252 "EnrolledCourses"
Ingelogd als "student", geklikt op "Courses" en krijg volgende error:

![screen shot 2014-05-15 at 23 16 43](https://cloud.githubusercontent.com/assets/5695575/2990872/65a9dede-dc76-11e3-979c-5a45142473d9.png)

[2014-05-15 21:22] nicocarraggi commented on #252
Zelf al opgelost, iemand deed een Sysout van een Course object en in die ToString methode werden de courseComponent objecten ook geprint maar omdat die lazy zijn waren die er natuurlijk niet! Dus weggehaald uit de ToString methode!

[2014-05-15 21:29] #252 closed, assigned to nobody

[2014-05-15 21:30] MPieter commented on #251
@fsuarezg @svdvonde Gaan jullie dit nog kunnen fixen voor de deadline ?

[2014-05-15 22:42] Timbo925 commented on #251
Program gefixed

[2014-05-15 23:42] Timbo925 commented on #251
@nicocarraggi
Komt dat niet omdat er @ManyToMany(cascade=CascadeType.REMOVE) staat bij course in traject? Zou da niet moet ven verander naar iets anders da hij da niet mee verwijderd?

[2014-05-16 04:48] Timbo925 opened #255 "Deleten Entrys"
@nicocarraggi  @svdvonde

Waarom werkt volgend stuk code niet om alle entrys die niet bevroren zijn van een traject te verwijderen??

[code]

[2014-05-16 06:41] Timbo925 opened #257 "Sortable Programms Front Page"
@svdvonde

De lijst van programmas op de front page is niet gesorteerd. Ik heb al iets geprobeerd maar het sorteren lukt niet. Zou jij er nog eens naar willen kijken want zoeken is zo wel niet handig zeker als we het juiste programma moeten selecteren voor de demo.

[2014-05-16 11:22] svdvonde commented on #257
Mee bezig

[2014-05-16 11:52] svdvonde commented on #251
Geen bug, alleen verkeerde debug print..

logger.info("Deliting Coruse with id: " + id);
...
try {
    Traject traject = trajectService.findTrajectById(id);
    trajectService.deleteTraject(traject);
}

[2014-05-16 12:11] svdvonde commented on #257
Sluit maar

[2014-05-16 12:16] #257 closed, assigned to svdvonde

[2014-05-16 13:59] #255 closed, assigned to nicocarraggi